@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.parish-priest-dashboard-page {
  .parish-priest-dashboard-page-container {
    min-height: 100vh;
    .parish-priest-dashboard-page-title {
      @include title;
      background-color: $sidebar-bg;
    }

    .parish-priest-dashboard-wrapper {
      @include flexColumn;
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .parish-priest-dashboard-page {
    .parish-priest-dashboard-page-container {
      .parish-priest-dashboard-page-title {
        font-size: $nfs;
        background-color: $mobile-header-bg;
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .parish-priest-dashboard-page {
    .parish-priest-dashboard-page-container {
      .parish-priest-dashboard-page-title {
        font-size: $afs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .parish-priest-dashboard-page {
    .parish-priest-dashboard-page-container {
      .parish-priest-dashboard-page-title {
        font-size: $aafs;
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .parish-priest-dashboard-page {
    .parish-priest-dashboard-page-container {
      .parish-priest-dashboard-page-title {
        font-size: $lfs;
      }

      .parish-priest-dashboard-wrapper {
        @include flexColumn;
      }
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .parish-priest-dashboard-page {
    .parish-priest-dashboard-page-container {
      .parish-priest-dashboard-page-title {
        font-size: $lfs;
      }

      .parish-priest-dashboard-wrapper {
        @include flexRow;
      }
    }
  }
}
