@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.add-priest-delegation-modal {
  @include modal;

  .add-priest-delegation-popup {
    @include popupBox;
    width: 50%;
    margin: auto;
    padding: 2rem;

    .close-modal {
      @include closeModal;
    }

    .add-priest-delegation-title {
      @include title;
    }

    .add-priest-delegation-form {
      @include flexColumn;

      .priest-delegation-form-inputs-wrapper {
        @include twoGridTemplateEqualColumns;

        .input-container {
          position: relative;
          display: flex;
          flex-direction: column;

          .icon {
            @include inputIcon;
          }

          .input-field {
            @include inputField;
          }

          .input-label {
            @include inputLabel;
          }

          .input-highlight {
            @include inputHighlight;
          }

          .input-field:focus + .input-label {
            @include focusInputFieldAndInputLabel;
          }

          .input-field:focus + .input-label + .input-highlight {
            width: 100%;
          }

          .error-text {
            color: $red;
            font-size: $sfs;
            margin: 0.5rem 0 0 0.4rem;
          }
        }
      }

      .textarea-container {
        position: relative;
        display: flex;
        flex-direction: column;

        .textarea-icon {
          @include inputIcon;
        }

        .textarea-field {
          @include inputField;
        }

        .textarea-label {
          @include inputLabel;
        }

        .textarea-highlight {
          @include inputHighlight;
        }

        .textarea-field:focus + .textarea-label {
          @include focusInputFieldAndInputLabel;
        }

        .textarea-field:focus + .textarea-label + .textarea-highlight {
          width: 100%;
        }

        .error-text {
          color: $red;
          font-size: $sfs;
          margin: 0.5rem 0 0 0.4rem;
        }
      }

      .priest-delegation-btn {
        @include button3;
      }
    }
  }
}
