@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

/* Laptop screen size */
@media screen and (min-width: 1024px) {
  .modal {
    @include modal;
    .popup-box {
      @include popupBox;
      .close-popup-box {
        @include closeModal;
      }
    }
  }

  .register-form {
    background-color: $form-bg;
    @include shadow1;
    padding: 1rem 2rem;

    .register-input-fields-container {
      @include twoGridTemplateEqualColumns;

      .input-container {
        @include inputContainer;

        .input-icon {
          @include inputIcon;
        }

        .input-field {
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }

        .input-field:focus + .input-label {
          @include focusInputFieldAndInputLabel;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .icon {
          @include passwordDisplay;
        }
      }
    }

    .consent-and-password-conditions-container {
      @include twoGridTemplateEqualColumns;

      .show-password-consent-terms-button-have-account-container {
        @include flexColumn;

        .show-password-container {
          @include display;

          .show-password-checkbox {
            width: $sfs;
            height: $sfs;
          }
        }

        .register-consent {
          @include display;

          .register-consent-input {
            width: $sfs;
            height: $sfs;
          }

          .accept {
            font-size: $nfs;
          }

          .terms-of-user {
            font-size: $nfs;
            color: $blue;
            padding-left: 0.5rem;
          }

          .have-account {
            font-size: $sfs;
            margin-top: 1.5rem;

            .login-link {
              font-weight: bold;
              font-size: $afs;
              color: $blue;
              margin-left: 0.5rem;
            }
          }
        }

        .register-button {
          @include button3;

          .loading {
            @include loader;
          }
        }

        .have-account {
          @include flexRow;
          font-size: $nfs;

          .login-link {
            font-weight: bold;
            font-size: $nfs;
            color: $blue;
          }
        }

        .error-message {
          @include errorMessage;
        }
      }

      .password-conditions {
        display: block;
        background-color: transparent;
        @include shadow1;
        padding: 0;

        .password-condition-title {
          font-size: $nfs;
        }

        .text {
          line-height: $aafs;
          font-size: $sfs;
        }
      }
    }
  }
}
