@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

/* Laptop screen size */
@media screen and (min-width: 1024px) {
  .register-form {
    background-color: $form-bg;
    @include shadow1;
    padding: 1rem 2rem;

    .register-input-fields-container {
      @include twoGridTemplateEqualColumns;

      .input-container {
        @include inputContainer;

        .input-icon {
          @include inputIcon;
        }

        .input-field {
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }

        .input-field:focus + .input-label {
          @include focusInputFieldAndInputLabel;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .icon {
          @include passwordDisplay;
        }
      }
    }

    .consent-button-password-validation-container {
      @include twoGridTemplateEqualColumns;

      .consent-button-container {
        @include flexColumn;
        justify-content: space-between;
        padding: 0.5rem 0;
        .accept-terms {
          @include display;

          .consent-checkbox {
            width: $sfs;
            height: $sfs;
          }

          .terms-of-user {
            font-size: $nfs;
            color: $blue;
            padding-left: 0.5rem;
          }
        }

        .show-password-container {
          @include display;

          .show-password-checkbox {
            width: $sfs;
            height: $sfs;
          }
        }

        .register-button-container {
          .register-button {
            @include button3;
          }
        }

        .error-message {
          @include errorMessage;
        }

        .have-account {
          @include flexRow;
          font-size: $nfs;

          .login-link {
            font-weight: bold;
            font-size: $nfs;
            color: $blue;
          }
        }
      }

      .password-conditions-container {
        @include shadow1;
        background-color: #f8f9fa;
        padding: 0.3rem 1rem;
        border-radius: $radius;

        .password-rule {
          @include flexSpaceBetween;
          align-items: center;
          .infos {
            font-size: $sfs;
          }
        }
      }
    }
  }
}
