@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.church-services-table-wrapper {
  width: $mobile;
  margin: 1rem auto;

  .church-services-table-title {
    @include title;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .church-services-table-wrapper {
    width: $mobile;
    margin: 0.1rem auto;

    .church-services-table-title {
      font-size: $nfs;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .church-services-table-wrapper {
    width: $mobileLandscape;
    margin: 0.1rem auto;

    .church-services-table-title {
      font-size: $nfs;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .church-services-table-wrapper {
    width: $tablet;

    .church-services-table-title {
      font-size: $afs;
    }
  }
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .church-services-table-wrapper {
    width: $laptop;

    .church-services-table-title {
      font-size: $aafs;
    }
  }
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
  .church-services-table-wrapper {
    width: $desktop;

    .church-services-table-title {
      font-size: $aafs;
    }
  }
}
