@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.committee-container {
  width: $laptop;
  margin: 1rem auto;

  .committee-title {
    @include subTitle;
  }

  .user-information {
    @include paragraph;
  }

  .committee-query-form {
    @include flexColumn;
    padding: 2rem 1rem;

    .select-container {
      @include selectContainer;

      .select-field {
        @include selectField;
      }

      .select-option {
        @include selectOption;
      }
    }

    .committees-btn {
      @include button3;
    }
  }

  .committee-card-wrapper {
    @include twoGridTemplateEqualColumns;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
  }
}

/* Up to 480px (very small mobile screens) */
@media (max-width: 480px) {
  .committee-container {
    width: $mobile;

    .committee-title {
      font-size: $nfs;
    }

    .user-information {
      font-size: $sfs;
    }

    .committee-query-form {
      .select-container {
        &::after {
          right: 0.5rem; /* Adjust arrow position on smaller screens */
        }
        .select-field {
          width: 100%;
          max-width: 100%; /* Enforce max width on mobile */
          padding: 0.5rem;
          font-size: $sfs;
        }

        .select-option {
          font-size: $sfs;
        }
      }

      .committees-btn {
        font-size: $sfs;
      }
    }

    .committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Between 481px and 768px (common for most mobile devices) */
@media (min-width: 481px) and (max-width: 768px) {
  .committee-container {
    width: $tablet;

    .committee-title {
      font-size: $afs;
    }

    .user-information {
      font-size: $nfs;
    }

    .committee-query-form {
      .select-container {
        &::after {
          right: 0.5rem; /* Adjust arrow position on smaller screens */
        }
        .select-field {
          width: 100%;
          max-width: 100%; /* Enforce max width on mobile */
          padding: 0.5rem;
          font-size: $nfs;
        }

        .select-option {
          font-size: $nfs;
        }
      }

      .committees-btn {
        font-size: $nfs;
      }
    }

    .committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  .committee-container {
    width: $tablet;

    .committee-title {
      font-size: $aafs;
    }

    .user-information {
      font-size: $nfs;
    }

    .committee-query-form {
      .select-container {
    
        .select-field {
          width: 100%;
          max-width: 100%; /* Enforce max width on mobile */
          padding: 0.5rem;
          font-size: $nfs;
        }

        .select-option {
          font-size: $nfs;
        }
      }

      .committees-btn {
        font-size: $nfs;
      }
    }

    .committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
}
