@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.committee-container {
  width: $mobile;
  margin: 1rem auto;

  .committee-title {
    @include subTitle;
  }

  .user-information {
    @include paragraph;
  }

  .committee-query-form {
    @include flexColumn;
    padding: 2rem 1rem;

    .select-container {
      @include selectContainer;

      .select-field {
        @include selectField;
      }

      .select-option {
        @include selectOption;
      }
    }

    .committees-btn {
      @include button3;
    }
  }

  .committee-card-wrapper {
    @include twoGridTemplateEqualColumns;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .committee-container {
    width: $mobile;

    .committee-title {
      font-size: $nfs;
    }

    .user-information {
      font-size: $sfs;
    }

    .committee-query-form {
      .select-container {
        &::after {
          right: 0.5rem; /* Adjust arrow position on smaller screens */
        }
        .select-field {
          width: 100%;
          max-width: 100%; /* Enforce max width on mobile */
          padding: 0.5rem;
          font-size: $sfs;
        }

        .select-option {
          font-size: $sfs;
        }
      }

      .committees-btn {
        font-size: $sfs;
      }
    }

    .committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .committee-container {
    width: $tablet;

    .committee-title {
      font-size: $afs;
    }

    .user-information {
      font-size: $nfs;
    }

    .committee-query-form {
      .select-container {
        &::after {
          right: 0.5rem; /* Adjust arrow position on smaller screens */
        }
        .select-field {
          width: 100%;
          max-width: 100%; /* Enforce max width on mobile */
          padding: 0.5rem;
          font-size: $nfs;
        }

        .select-option {
          font-size: $nfs;
        }
      }

      .committees-btn {
        font-size: $nfs;
      }
    }

    .committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .committee-container {
    width: $tablet;

    .committee-title {
      font-size: $aafs;
    }

    .user-information {
      font-size: $nfs;
    }

    .committee-query-form {
      .select-container {
    
        .select-field {
          width: 100%;
          max-width: 100%; /* Enforce max width on mobile */
          padding: 0.5rem;
          font-size: $nfs;
        }

        .select-option {
          font-size: $nfs;
        }
      }

      .committees-btn {
        font-size: $nfs;
      }
    }

    .committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
