@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.service-category-table-container {
  position: relative;
  .service-category-table-title {
    @include subTitle;
    margin: 2rem 0;
    font-size: $aafs;
    text-align: center;
  }

  .add-new-service-category {
    @include flexSpaceBetween;

    .add-new-service-category-title {
      @include subTitle;
    }

    .add-new-service-category-btn {
      @include button2;
    }
  }
}
.action-wrapper {
  @include flexRow;

  .delete {
    @include deleteIcon;
  }
}

.MuiDataGrid-cell {
  @include flexCenter;
}



.category-service-delete-confirmation-modal {
  @include deleteConfirmationModal;

  .delete-confirmation-title {
    @include deleteConfirmationTitle;
  }

  .delete-confirmation-statement {
    @include deleteConfirmationStatement;
  }

  .confirmation-buttons-wrapper {
    @include buttonsWrapper;

    .confirm-delete-btn {
      @include buttonForDelete;
    }

    .cancel-delete-btn {
      @include buttonForCancel;
    }
  }
}
