@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.service-category-table-container {
  position: relative;
  .service-category-table-title {
    @include subTitle;
    margin: 2rem 0;
    font-size: $aafs;
    text-align: center;
  }

  .add-new-service-category {
    @include flexSpaceBetween;

    .add-new-service-category-title {
      @include subTitle;
    }

    .add-new-service-category-btn {
      @include button2;
    }
  }
}
.action-wrapper {
  @include flexRow;

  .delete {
    @include deleteIcon;
  }
}

.MuiDataGrid-cell {
  @include flexCenter;
}

.category-delete-confirmation-wrapper {
  @include ModalForConfirmation;

  .delete-icon {
    @include closeModal;
  }

  .you-want-delete {
    @include paragraph;
    margin: 1rem 0 2rem 0;
  }

  .buttons-wrapper {
    @include flexSpaceBetween;
    .confirm-delete {
      @include buttonForDelete;
    }

    .cancel-delete {
      @include buttonForCancel;
    }
  }
}
