@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.member-addresses-wrapper {
  width: $laptop;
  margin: 1rem auto;

  .member-address-title {
    @include subTitle;
  }

  .add-member-address {
    @include flexSpaceBetween;

    .add-member-title {
      @include subTitle;
    }

    .add-new-address-btn {
      @include button2;
    }
  }

  .addresses-list-container {
    .table-address {
      width: 100%;
      margin-top: 1rem;

      .table-head {
        background-color: $modal-bg;
        .head-row {
          .head-cell {
            text-align: start;
            font-size: $nfs;
            padding: 1rem 0.2rem 1rem 0.5rem;
            border-bottom: 1px solid $blue;
          }
        }
      }

      .table-body {
        .body-row {
          .body-cell {
            text-align: start;
            font-size: $nfs;
            padding: 1rem 0.2rem 1rem 0.5rem;
            border-bottom: 1px solid $gray;

            .delete-icon {
              @include deleteIcon;
            }
          }
        }
      }
    }
  }
}
