@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.add-committee-modal {
  @include modal;

  .add-committee-popup {
    @include popupBox;
    padding: 2rem;

    .close-popup {
      @include closeModal;
    }

    .add-committee-title {
      @include title;
    }

    .add-committee-member-form {
      @include flexColumn;
      margin-top: 0;

      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;
      }
      .input-container {
        @include inputContainer;

        .input-icon {
          @include inputIcon;
        }

        .input-field {
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }

        .input-field:focus + .input-label {
          @include focusInputFieldAndInputLabel;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .password-display {
          @include passwordDisplay;
        }
      }

      .input-consent {
        @include inputContainer;
        @include flexRow;
        align-items: center;

        .consent-checkbox {
          height: 1.6rem;
          width: 1.3rem;
          cursor: pointer;
        }

        .terms-of-user {
          color: $blue;
        }
      }

      .add-committee-btn {
        @include buttonWithInput;
      }
    }
  }
}
