@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.delegated-priests-wrapper{
  width: $laptop;
  margin: 1rem auto;

  .delegated-priests-title {
    @include subTitle;
    font-size: $aafs;
  }

  .add-delegation-aside {
    @include flexSpaceBetween;
    background-color: $form-bg;
   margin-bottom: 2rem;
   padding: 0.2rem 1rem;

    .add-delegation-aside-title {
      @include subTitle
    }

    .add-delegation-btn {
      @include button2;
      
    }
  }
}