@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.delegated-priests-table-container {
  width: $mobile;
  margin: 1rem auto;

  .delegated-priests-table-title {
    @include subTitle;
    font-size: $afs;
    padding: 2rem 0;
  }

  .add-delegation-priest-wrapper {
    @include flexSpaceBetween;
    background-color: $form-bg;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;

    .add-delegation-priest-title {
      @include subTitle;
      font-size: $nfs;
    }

    .add-delegation-btn {
      @include button2;
    }
  }

  .delegated-priest-delete-confirmation-modal {
    @include deleteConfirmationModal;

    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }

    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }

    .confirmation-buttons-wrapper {
      @include buttonsWrapper;

      .confirm-delete-btn {
        @include buttonForDelete;
      }

      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }

  .action-wrapper {
    @include flexRow;
    align-items: center;

    .edit-icon {
      @include editIcon;
    }

    .delete {
      border: none;
      .delete-icon {
        @include deleteIcon;
      }
    }
  }

  .MuiDataGrid-cell {
    display: flex;
    align-items: center;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .delegated-priests-table-container {
    width: $mobile;

    .delegated-priests-table-title {
      font-size: $nfs;
    }

    .add-delegation-priest-wrapper {
      padding: 0.2rem;
      font-size: $sfs;

      .add-delegation-priest-title {
        font-size: $sfs;
      }

      .add-delegation-btn {
        font-size: $sfs;
      }
    }

    .delegated-priest-delete-confirmation-modal {
      @include mobileDeleteConfirmationModal;

      .delete-confirmation-title {
        font-size: $nfs;
      }

      .delete-confirmation-statement {
        font-size: $sfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $sfs;
        }

        .cancel-delete-btn {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .delegated-priests-table-container {
    width: $mobileLandscape;

    .delegated-priests-table-title {
      font-size: $afs;
    }

    .add-delegation-priest-wrapper {
      font-size: $nfs;

      .add-delegation-priest-title {
        font-size: $nfs;
      }

      .add-delegation-btn {
        font-size: $nfs;
      }
    }

    .delegated-priest-delete-confirmation-modal {
      .delete-confirmation-title {
        font-size: $afs;
      }

      .delete-confirmation-statement {
        font-size: $nfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $nfs;
        }

        .cancel-delete-btn {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .delegated-priests-table-container {
    width: $mobileLandscape;

    .delegated-priests-table-title {
      font-size: $aafs;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .delegated-priests-table-container {
    width: $mobileLandscape;

    .delegated-priests-table-title {
      font-size: $lfs;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .delegated-priests-table-container {
    width: $mobileLandscape;

    .delegated-priests-table-title {
      font-size: $lfs;
    }
  }
}
