@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.delegated-priests-table-container {
  width: $laptop;
  margin: 1rem auto;

  .delegated-priests-table-title {
    @include subTitle;
    font-size: $afs;
    padding: 2rem 0;
  }

  .add-delegation-priest-wrapper {
    @include flexSpaceBetween;
    background-color: $form-bg;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;

    .add-delegation-priest-title {
      @include subTitle;
      font-size: $nfs;
    }

    .add-delegation-btn {
      @include button2;
    }
  }
}

.delegated-priest-delete-confirmation-modal {
  @include deleteConfirmationModal;

  .delete-confirmation-title {
    @include deleteConfirmationTitle;
  }

  .delete-confirmation-statement {
    @include deleteConfirmationStatement;
  }

  .confirmation-buttons-wrapper {
    @include buttonsWrapper;

    .confirm-delete-btn {
      @include buttonForDelete;
    }

    .cancel-delete-btn {
      @include buttonForCancel;
    }
  }
}
