@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.contact-page-form {
  width: $mobile;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: $form-bg;

  .contact-page-form-title {
    @include subTitle;
  }

  .contact-page-form {
    @include flexColumn;
    width: 100%;
    .contact-form-input-container {
      position: relative;
      display: flex;
      flex-direction: column;

      .input-icon {
        @include inputIcon;
      }

      .input-field {
        @include inputField;
      }

      .input-label {
        @include inputLabel;
      }

      .input-highlight {
        @include inputHighlight;
      }

      .input-field:focus + .input-label {
        @include focusInputFieldAndInputLabel;
      }

      .input-field:focus + .input-label + .input-highlight {
        width: 100%;
      }

      .input-error-message {
        color: $red;
        font-size: $sfs;
        margin-top: 0.5rem;
      }
    }

    .message-length-signal {
      color: $red;
      font-size: $sfs;
    }

    .contact-form-btn {
      @include button3;
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .contact-page-form {
    width: $mobile;
    margin: 1rem auto;
    padding: 1rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.2rem;
    background-color: $form-bg;

    .contact-page-form-title {
      font-size: $nfs;
    }

    .contact-page-form {
      .contact-form-input-container {
        .input-icon {
          font-size: $sfs;
        }

        .input-field {
          font-size: $sfs;
        }

        .input-label {
          font-size: $sfs;
        }

        .input-highlight {
          font-size: $sfs;
        }

        .input-field:focus + .input-label {
          font-size: $sfs;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }
      }

      .contact-form-btn {
        font-size: $sfs;
        margin-top: 1rem;
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .contact-page-form {
    width: $tablet;
    margin: 1rem auto;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: $form-bg;

    .contact-page-form-title {
      font-size: $afs;
    }

    .contact-page-form {
      .contact-form-input-container {
        .input-icon {
          font-size: $nfs;
        }

        .input-field {
          font-size: $nfs;
        }

        .input-label {
          font-size: $nfs;
        }

        .input-highlight {
          font-size: $nfs;
        }

        .input-field:focus + .input-label {
          font-size: $nfs;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }
      }

      .contact-form-btn {
        font-size: $nfs;
        margin-top: 1.5rem;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .contact-page-form {
    width: $tablet;
    margin: 1rem auto;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: $form-bg;

    .contact-page-form-title {
      font-size: $aafs;
    }

    .contact-page-form {
      .contact-form-input-container {
        .input-icon {
          font-size: $nfs;
        }

        .input-field {
          font-size: $nfs;
        }

        .input-label {
          font-size: $nfs;
        }

        .input-highlight {
          font-size: $nfs;
        }

        .input-field:focus + .input-label {
          font-size: $nfs;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }
      }

      .contact-form-btn {
        font-size: $afs;
        margin-top: 1.5rem;
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
