@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.priest-dashboard-overview-wrapper {
  width: $mobile;
  margin: auto;
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .priest-dashboard-overview-wrapper {
    width: $mobile;
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .priest-dashboard-overview-wrapper {
    width: $mobileLandscape;
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .priest-dashboard-overview-wrapper {
    width: $tablet;
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .priest-dashboard-overview-wrapper {
    width: $laptop;
  }
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
  .priest-dashboard-overview-wrapper {
    width: $desktop;
  }
}
