@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.priest-dashboard-summary {
  width: $mobile;
  margin: 1rem auto;

  .priest-dashboard-summary-title {
    @include subTitle;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .priest-dashboard-summary {
    .priest-dashboard-summary-title {
      font-size: $nfs;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .priest-dashboard-summary {
    .priest-dashboard-summary-title {
      font-size: $afs;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .priest-dashboard-summary {
    .priest-dashboard-summary-title {
      font-size: $aafs;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .priest-dashboard-summary {
    .priest-dashboard-summary-title {
      font-size: $lfs;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .priest-dashboard-summary {
    .priest-dashboard-summary-title {
      font-size: $lfs;
    }
  }
}
