@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.events-information-container {
  position: relative;
  margin-bottom: 1rem;

  .event-information-title {
    @include subTitle;
  }

  .event-year-form {
    position: absolute;
    top: 1rem;
    right: 0;

    .input-field {
      @include inputWithButton;
    }

    .year-form-btn {
      @include buttonWithInput;
    }
  }

  .error-message {
    @include errorMessage;
  }

  .event-infos-wrapper {
    @include shadow1;
    background-color: $form-bg;

    .event-title {
      @include subTitle;
      padding: 0.1rem;
      font-size: $afs;
    }

    .event-box {
      @include twoGridTemplateEqualColumns;
      column-gap: 1rem;

      .left-event-box {
        @include shadow1;
        padding: 1rem 2rem;

        .event-status {
          font-size: $nfs;
          @include twoGridTemplateEqualColumns;
          row-gap: 0.3rem;
          column-gap: 1rem;

          .span {
            display: inline-block;
            width: 15rem;
            padding: 0.2rem 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f9f9f9;
            font-family: inherit;
            font-size: 1rem;
            color: #333;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            margin-left: 5px;
          }
        }

        .event-link {
          font-size: $nfs;
          margin: 0.6rem 0;

          .view {
            font-size: $nfs;
            color: $blue;
            border: none;
            cursor: pointer;
          }
        }
      }

      .right-event-box {
        @include shadow1;
        @include flexColumn;

        .event-facilitators-list {
          .event-facilitator {
            font-size: $nfs;
            @include twoGridTemplateEqualColumns;
            row-gap: 0.3rem;
            column-gap: 1rem;
            .facilitator {
              display: inline-block;
              width: 15rem;
              padding: 0.2rem 0.5rem;
              border: 1px solid #ccc;
              border-radius: 4px;
              background-color: #f9f9f9;
              font-family: inherit;
              font-size: 1rem;
              color: #333;
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .events-information-container {
    position: relative;

    .event-information-title {
      margin: 0 0 4rem 0;
      font-size: $nfs;
    }

    .event-year-form {
      position: absolute;
      top: 2.5rem;
      left: 0;

      .input-field {
        width: 10rem;
        font-size: $sfs;
      }

      .year-form-btn {
        font-size: $sfs;
      }
    }

    .event-infos-wrapper {
      .event-title {
        font-size: $nfs;
      }

      .event-box {
        @include flexColumn;

        .left-event-box {
          padding: 0;
          margin: 0;
          font-size: $sfs;
          .event-status {
            font-size: $sfs;

            .span {
              width: 7rem;
              font-size: $sfs;
            }
          }

          .event-link {
            font-size: $sfs;
            margin: 0.6rem 0;

            .view {
              font-size: $sfs;
            }
          }
        }

        .right-event-box {
          padding: 0;
          margin: 0;
          .event-facilitators-list {
            .event-facilitator {
              font-size: $sfs;
              @include flexColumn;

              .facilitator {
                width: 12rem;
                font-size: $sfs;
              }
            }
          }
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .events-information-container {
    position: relative;

    .event-information-title {
      margin: 0 0 5rem 0;
      font-size: $afs;
    }

    .event-year-form {
      position: absolute;
      top: 3rem;
      left: 0;

      .input-field {
        width: 10rem;
        font-size: $sfs;
      }

      .year-form-btn {
        font-size: $sfs;
      }
    }

    .event-infos-wrapper {
      .event-title {
        font-size: $nfs;
      }

      .event-box {
        @include flexColumn;

        .left-event-box {
          padding: 0;
          margin: 0;
          font-size: $sfs;
          .event-status {
            font-size: $sfs;

            .span {
              width: 10rem;
              font-size: $sfs;
            }
          }

          .event-link {
            font-size: $sfs;
            margin: 0.6rem 0;

            .view {
              font-size: $sfs;
            }
          }
        }

        .right-event-box {
          padding: 0;
          margin: 0;
          .event-facilitators-list {
            .event-facilitator {
              font-size: $sfs;
              @include flexColumn;

              .facilitator {
                width: 95%;
                font-size: $sfs;
              }
            }
          }
        }
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .events-information-container {
    position: relative;

    .event-information-title {
      margin: 0 0 5rem 0;
      font-size: $afs;
    }

    .event-year-form {
      position: absolute;
      top: 3rem;
      left: 0;

      .input-field {
        width: 10rem;
        font-size: $sfs;
      }

      .year-form-btn {
        font-size: $sfs;
      }
    }

    .event-infos-wrapper {
      .event-title {
        font-size: $nfs;
      }

      .event-box {
        @include flexColumn;

        .left-event-box {
          padding: 0;
          margin: 0;
          font-size: $sfs;
          .event-status {
            font-size: $sfs;

            .span {
              width: 10rem;
              font-size: $sfs;
            }
          }

          .event-link {
            font-size: $sfs;
            margin: 0.6rem 0;

            .view {
              font-size: $sfs;
            }
          }
        }

        .right-event-box {
          padding: 0;
          margin: 0;
          .event-facilitators-list {
            .event-facilitator {
              font-size: $sfs;
              @include flexColumn;

              .facilitator {
                width: 95%;
                font-size: $sfs;
              }
            }
          }
        }
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .events-information-container {
    position: relative;

    .event-information-title {
      margin: 0 0 5rem 0;
      font-size: $afs;
    }

    .event-year-form {
      position: absolute;
      top: 3rem;
      left: 0;

      .input-field {
        width: 10rem;
        font-size: $sfs;
      }

      .year-form-btn {
        font-size: $sfs;
      }
    }

    .event-infos-wrapper {
      .event-title {
        font-size: $nfs;
      }

      .event-box {
        @include twoGridTemplateEqualColumns;
        column-gap: 2rem;

        .left-event-box {
          padding: 0 1rem;
          font-size: $sfs;
          .event-status {
            font-size: $sfs;

            .span {
              width: 10rem;
              font-size: $sfs;
            }
          }

          .event-link {
            font-size: $sfs;
            margin: 0.6rem 0;

            .view {
              font-size: $sfs;
            }
          }
        }

        .right-event-box {
          padding: 0 1rem;

          .event-facilitators-list {
            .event-facilitator {
              font-size: $sfs;
              @include flexColumn;

              .facilitator {
                width: 95%;
                font-size: $sfs;
              }
            }
          }
        }
      }
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
