@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.chart-wrapper {
  position: relative;
  margin: 2rem 0;

  .chart-title {
    @include subTitle;
    font-size: $aafs;
    
  }

  .financial-year-form {
    position: absolute;
    top: 1rem;
    right: 2rem;

    .input-field {
      @include inputWithButton;
    }

    .year-form-btn {
      @include buttonWithInput;
    }
  }
}
