@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.chart-wrapper {
  position: relative;

  .chart-title {
    @include subTitle;
    color: $green;
    margin-top: 2rem;
  }

  .year-form {
    position: absolute;
    top: 0;
    right: 2rem;

    .year-input-field {
      padding: 0.7rem;
      border: 1px solid #ced4da;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      transition: border-color 0.3s ease;
      cursor: none;
    }

    .year-form-btn {
      @include button2;
    }
  }
}
