@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.financial-report-chart-wrapper {
  position: relative;
  margin: 2rem 0;

  .chart-title {
    @include subTitle;
    font-size: $aafs;
  }

  .financial-year-form {

    position: absolute;
    top: -1rem;
    right: 2rem;

    .year-input-label {
      font-size: $nfs;
      margin-right: 1rem;
    }

    .input-field {
      @include inputWithButton;
    }

    .year-form-btn {
      @include buttonWithInput;
    }
  }
}
/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .financial-report-chart-wrapper {
    width: 100%;
    position: relative;
    margin: 2rem 0;
    padding: 0;

    .financial-report-chart-title {
      font-size: $nfs;
      margin: 0 0 5rem 0;
      text-align: center;
    }

    .financial-year-form {
      @include flexRow;
      position: absolute;
      top: 2.5rem;
      left: 0.5rem;

      .year-input-label {
        display: none;
      }
      
    

      .input-field {
        font-size: $sfs;
      }

      .year-form-btn {
        font-size: $sfs;
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .financial-report-chart-wrapper {
    width: 100%;
    position: relative;
    margin: 2rem 0;
    padding: 0;

    .financial-report-chart-title {
      font-size: $afs;
      margin: 0 0 5rem 0;
    }

    .financial-year-form {
      @include flexRow;
      position: absolute;
      top: 2.5rem;
      left: 0.5rem;

      .year-input-label {
        display: none;
      }
      
    

      .input-field {
        font-size: $sfs;
      }

      .year-form-btn {
        font-size: $sfs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
