@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.sacrament-page {
  width: 100%;
  display: flex;
  flex-direction: row;

  .sacrament-container {
    display: flex;
    flex-direction: column;

    .sacrament-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;

      .sacrament-title {
        font-size: $aafs;
      }

      .add-sacrament-btn {
        @include button;
      }
    }

    .sacrament-report-table {
      width: 100%;

      .table-head {
        background-color: #b0c4de;
        text-align: left;

        .table-head-row {
          border-radius: 1rem;

          .head-cell {
            padding: 0.5rem 0.3rem;
          }
        }
      }

      .table-body {
        .table-body-row {
          .body-cell {
            border-bottom: 1px solid #ddd;
            padding: 0 0.5rem;
          }

          .negative {
            border-bottom: 1px solid #ddd;
            padding: 0 0.5rem;
            color: tomato;
          }

          .positive {
            border-bottom: 1px solid #ddd;
            padding: 0 0.5rem;
            color: $title;
          }

          .body-cell-action {
            border-bottom: 1px solid #ddd;
            padding: 0 0.5rem;
            width: 150px;

            .action-wrapper {
              display: flex;
              justify-content: space-between;

              .link {
                display: flex;
                align-items: center;
                justify-content: center;
                @include btn2;
                padding: 0;
                text-decoration: none
              }

              .button {
                @include btn2;
                color: $hover-text;
              }
            }
          }
        }
      }
    }
  }
}