@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

/* Mobile screen size */
.service-page {
  width: $mobile;
  margin: 1rem auto;

  .service-title {
    @include title;
  }

  .paragraph {
    line-height: 2rem;
    font-size: $afs;
  }

  .tabs-forms {
    .blog-tabs {
      @include shadow3;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1rem;

      .tabs {
        padding: 1rem;
        cursor: pointer;
        box-shadow: 0 0 2px;
        text-align: center;
      }

      .active-tabs {
        background-color: #bbe1fb;
        border-bottom: 1px solid transparent;
        cursor: pointer;
      }
    }

    .service-forms {
      .service-form {
        display: none;
      }

      .active-service-form {
        display: block;
      }
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .service-page {
    width: $tablet;
    margin: 1rem auto;
  
    .service-title {
      @include title;
    }
  
    .paragraph {
      line-height: 2rem;
      font-size: $afs;
    }
  
    .tabs-forms {
      .blog-tabs {
        @include shadow3;
  
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;
  
        .tabs {
          padding: 1rem;
          cursor: pointer;
          box-shadow: 0 0 2px;
          text-align: center;
        }
  
        .active-tabs {
          background-color: #bbe1fb;
          border-bottom: 1px solid transparent;
          cursor: pointer;
        }
      }
  
      .service-forms {
        .service-form {
          display: none;
        }
  
        .active-service-form {
          display: block;
        }
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .service-page {
    width: $laptop;
    margin: 1rem auto;

    .service-title {
      @include title;
    }

    .paragraph {
      line-height: 2rem;
      font-size: $afs;
    }

    .tabs-forms {
      .blog-tabs {
        @include shadow3;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;

        .tabs {
          padding: 1rem;
          cursor: pointer;
          box-shadow: 0 0 2px;
          text-align: center;
        }

        .active-tabs {
          background-color: #bbe1fb;
          border-bottom: 1px solid transparent;
          cursor: pointer;
        }
      }

      .service-forms {
        .service-form {
          display: none;
        }

        .active-service-form {
          display: block;
        }
      }
    }
  }
}
