@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.strategic-intent-wrapper {
  .strategic-intent {
    margin: 1rem 0;
    .strategic-intent-subtitle {
      @include subTitle;
    }
    .mission-statement {
      font-size: $nfs;
      line-height: $aafs;
      font-size: $nfs;
      line-height: $aafs;
      padding: 1rem 0.5rem;
    }

    .vision-statement {
      font-size: $nfs;
      line-height: $aafs;
      font-size: $nfs;
      line-height: $aafs;
      padding: 1rem 0.5rem;
    }

    .core-value {
      .value-title {
        @include subTitle;
        font-size: $afs;
        background-color: $value-bg;
      }
      .value-description {
        font-size: $nfs;
        line-height: $aafs;
        padding: 1rem 0.5rem;
      }
    }
  }
}
/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .strategic-intent-wrapper {
    margin: 0 0.5rem;
    .strategic-intent {
      .strategic-intent-subtitle {
        font-size: $afs;
      }
      .mission-statement {
        font-size: $sfs;
      }

      .vision-statement {
        font-size: $sfs;
      }

      .core-value {
        .value-title {
          font-size: $nfs;
        }
        .value-description {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .strategic-intent-wrapper {
    .strategic-intent {
      .strategic-intent-subtitle {
        font-size: $afs;
      }
      .mission-statement {
      }

      .vision-statement {
      }

      .core-value {
        .value-title {
        }
        .value-description {
        }
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .strategic-intent-wrapper {
    .strategic-intent {
      .strategic-intent-subtitle {
      }
      .mission-statement {
      }

      .vision-statement {
      }

      .core-value {
        .value-title {
        }
        .value-description {
        }
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .strategic-intent-wrapper {
    .strategic-intent {
      .strategic-intent-subtitle {
      }
      .mission-statement {
      }

      .vision-statement {
      }

      .core-value {
        .value-title {
        }
        .value-description {
        }
      }
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .strategic-intent-wrapper {
    .strategic-intent {
      .strategic-intent-subtitle {
      }
      .mission-statement {
      }

      .vision-statement {
      }

      .core-value {
        .value-title {
        }
        .value-description {
        }
      }
    }
  }
}
