@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.home-page {
  width: 100%;
  background-color: $main-bg;
  display: flex;
  flex-direction: row;

  .home-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title title '
      'sacrament sacrament '
      'participation spiritual'
      'donation finance';
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: #111;


    .home-title {
      grid-area: title;
      @include title;
      color: $soft-color;
    }

    .box {
      padding: 1rem;
      border-radius: $radius;
      border: 1px solid $soft-bg;


      .subTitle {
        color: $soft-color;
        font-size: $afs;
        text-align: center;
      }
    }

    .sacraments {
      grid-area: sacrament;
    }

    .members-participation {
      grid-area: participation;
    }

    .spiritual-development {
      grid-area: spiritual;
    }

    .members-donation {
      grid-area: donation;
    }

    .financial-analysis {
      grid-area: finance;
    }
  }
}
