@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.parish-priest-wrapper {
  @include shadow1;

  .parish-priest-title {
    @include subTitle;
  }

  .image-description-container {
    .image-container {
      .priest-image {
        width: 85%;
        height: 20rem;
        object-fit: cover;
        margin-top: 0.5rem;
        border-radius: 0.3rem;
        cursor: pointer;
      }

      .priest-name {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .priest-description {
      .description {
        line-height: 2rem;
        font-size: $nfs;
      }

      .description2 {
        margin-top: 1rem;
      }
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .parish-priest-wrapper {
    .parish-priest-title {
      font-size: $nfs;
    }

    .image-description-container {
      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        .priest-image {
          width: 85%;
          height: 17rem;
        }

        .priest-name {
          font-size: $sfs;
        }
      }

      .priest-description {
        margin-top: 1rem;
        .description {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .parish-priest-wrapper {
    .parish-priest-title {
      text-align: center;
      font-size: $afs;
    }

    .image-description-container {
      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .priest-image {
          width: 60%;
          height: 25rem;
        }

        .priest-name {
        }
      }

      .priest-description {
        margin-top: 1.5rem;
        .description {
        }

        .description2 {
        }
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .parish-priest-wrapper {
    .parish-priest-title {
      text-align: center;
    }

    .image-description-container {
      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        .priest-image {
          width: 70%;
          height: 30rem;
         
        }

        .priest-name {
        }
      }

      .priest-description {
        margin-top: 2rem;
        .description {
        }

        .description2 {
        }
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .parish-priest-wrapper {
    .parish-priest-title {
    }

    .image-description-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 1rem;
      .image-container {
        .priest-image {
        }

        .priest-name {
        }
      }

      .priest-description {
        .description {
        }

        .description2 {
        }
      }
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .parish-priest-wrapper {
    .parish-priest-title {
    }

    .image-description-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 1rem;
      .image-container {
        .priest-image {
        }

        .priest-name {
        }
      }

      .priest-description {
        .description {
        }

        .description2 {
        }
      }
    }
  }
}
