@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.admin-dashboard-summary {
  width: 100%;
  @include flexColumn;

  .admin-dashboard-summary-title {
    @include title;
    font-size: $aafs;
    text-align: center;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .admin-dashboard-summary {
    padding: 1rem;
    .admin-dashboard-summary-title {
      font-size: $sfs;
      margin: 0 0 1rem 0;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .admin-dashboard-summary {
    padding: 1rem;
    .admin-dashboard-summary-title {
      font-size: $sfs;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .admin-dashboard-summary {
    padding: 1rem;
    .admin-dashboard-summary-title {
      font-size: $afs;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .admin-dashboard-summary {
    padding: 1rem;
    .admin-dashboard-summary-title {
      font-size: $aafs;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .admin-dashboard-summary {
    padding: 1rem;
    .admin-dashboard-summary-title {
      font-size: $aafs;
    }
  }
}
