@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.member-addresses-wrapper {
  width: $mobile;
  margin: 1rem auto;

  .member-address-title {
    @include subTitle;
    font-size: $aafs;
    text-align: center;
    margin: 2rem 0;
  }

  .add-new-user-address {
    @include flexSpaceBetween;
    margin-bottom: 1rem;

    .add-member-title {
      @include subTitle;
    }

    .add-new-address-btn {
      @include button2;
    }
  }

  .address-delete-confirmation-modal {
    @include deleteConfirmationModal;

    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }

    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }

    .confirmation-buttons-wrapper {
      @include buttonsWrapper;

      .confirm-delete-btn {
        @include buttonForDelete;
      }

      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }

  .action-wrapper {
    .delete-button {
      border: none;
      .delete-icon {
        @include deleteIcon;
      }
    }
  }

  .MuiDataGrid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .member-addresses-wrapper {
    width: $mobile;

    .member-address-title {
      font-size: $nfs;
    }

    .add-new-user-address {
      @include flexSpaceBetween;
      margin-bottom: 1rem;

      .add-member-title {
        font-size: $sfs;
      }

      .add-new-address-btn {
        font-size: $sfs;
      }
    }

    .address-delete-confirmation-modal {
      @include mobileDeleteConfirmationModal;
      .delete-confirmation-title {
        font-size: $nfs;
      }

      .delete-confirmation-statement {
        font-size: $sfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $sfs;
        }

        .cancel-delete-btn {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .member-addresses-wrapper {
    width: $mobile;

    .member-address-title {
      font-size: $nfs;
    }

    .add-new-user-address {
      @include flexSpaceBetween;
      margin-bottom: 1rem;

      .add-member-title {
        font-size: $sfs;
      }

      .add-new-address-btn {
        font-size: $sfs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .member-addresses-wrapper {
    width: $mobile;

    .member-address-title {
      font-size: $afs;
    }

    .add-new-user-address {
      @include flexSpaceBetween;
      margin-bottom: 1rem;

      .add-member-title {
        font-size: $nfs;
      }

      .add-new-address-btn {
        font-size: $nfs;
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
