@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.service-update-form {
    @include flexColumn;

  .input-container {
    position: relative;
    display: flex;
    flex-direction: column;
   

    .icon {
      @include inputIcon;
    }

    .input-field {
      @include inputField;
      
    }

    .input-highlight {
      @include inputHighlight;
    }

    .input-field:focus + .input-label {
      top: -0.4rem;
      font-size: $sfs;
      color: $gray;
    }

    .input-field:focus + .input-label + .input-highlight {
      width: 100%;
    }

    .error-text {
      color: $red;
      font-size: $sfs;
      margin: 0.5rem 0 0 0.4rem;
    }
  }

  .service-update-btn {
    @include button3;
    margin-top: 1rem;

   
  }
}
