@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.latest-event-container {
  margin-top: 2rem;

  .latest-event-title {
    @include subTitle;
    font-size: $aafs;
  }

  .event-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .event-description {
      flex: 5;
      @include shadow1;

      .event-name {
        font-size: $afs;
        margin-left: 0.5rem;
      }

      .event-purpose {
        @include paragraph;
        font-size: $nfs;
      }
    }

    .event-management {
      flex: 1;
      @include shadow1;
      background-color: $section-bg;
      @include flexColumn;
      gap: 0.3rem;
      font-size: $nfs;
      height: fit-content;

      & strong {
        display: block;
        color: $gray;
        font-size: $sfs;
      }
    }
  }
}

/* Responsive Styles */

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .latest-event-container {
    .latest-event-title {
      font-size: $afs;
      text-align: center;
    }

    .event-wrapper {
      flex-direction: column;
      column-gap: 0.5rem;

      .event-description {
        flex: unset; // Reset flex property
        font-size: $sfs;

        .event-name {
          font-size: $nfs;
        }

        .event-purpose {
          font-size: $sfs;
        }
      }

      .event-management {
        flex: unset; // Reset flex property
        padding: 0 1rem;
      }
    }

    .latest-event-title {
      font-size: $afs;
    }
  }
}


/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .latest-event-container {
    padding: 0 1rem;

    .latest-event-title {
      font-size: $nfs;
    }
    .event-wrapper {
      flex-direction: column;
      column-gap: 0.5rem;

      .event-description {
        flex: unset; // Reset flex property
        font-size: $sfs;

        .event-name {
          font-size: $afs;
        }

        .event-purpose {
          font-size: $sfs;
        }
      }

      .event-management {
        flex: unset; // Reset flex property
        padding: 0 1rem;
      }
    }

    .latest-event-title {
      font-size: $afs;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .latest-event-container {
    padding: 0 1rem;

    .latest-event-title {
      font-size: $aafs;
      text-align: center;
    }
    .event-wrapper {
      flex-direction: column;
      column-gap: 1.5rem;

      .event-name {
        font-size: $afs;
      }

      .event-description {
        font-size: $afs;
      }

      .event-management {
        font-size: $nfs;
        flex: 2;
      }
    }

    .latest-event-title {
      font-size: $afs * 1.2;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .latest-event-container {
    .event-wrapper {
      flex-direction: row;
      row-gap: 1.5rem;

      .event-description {
        font-size: $afs;
      }

      .event-management {
        font-size: $nfs;
      }
    }

    .latest-event-title {
      font-size: $afs * 1.3;
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .latest-event-container {
    .event-wrapper {
      flex-direction: row;
      gap: 2rem;

      .event-description {
        font-size: $afs;
      }

      .event-management {
        font-size: $nfs;
      }
    }

    .latest-event-title {
      font-size: $afs * 1.5;
    }
  }
}
