@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.member-contribution-wrapper {
  width: $laptop;
  margin: 1rem auto;
  @include shadow2;

  .member-contributions-title {
    @include subTitle;
  }

  .error-message {
    @include errorMessage;
  }

  .member-contribution-fieldset {
    @include fieldset;

    .member-contribution-legend {
      @include legend;
      text-align: center;
    }

    .member-contribution-form {
      @include flexColumn;
      margin-top: 0;

      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;
      }
      .input-container {
        @include inputContainer;

        .input-icon {
          @include inputIcon;
        }

        .input-field {
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }

        .input-field:focus + .input-label {
          @include focusInputFieldAndInputLabel;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .password-display {
          @include passwordDisplay;
        }
      }

      .input-consent {
        @include inputContainer;
        @include flexRow;
        align-items: center;

        .consent-checkbox {
          height: 1.6rem;
          width: 1.3rem;
          cursor: pointer;
        }

        .terms-of-user {
          color: $blue;
        }
      }

      .member-contribution-btn {
        @include button1;
      }
    }
  }
}
