@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.footer-container {
  background-color: $footer-bg;
  padding: 2rem 0;

  .footer-details-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
    padding: 2rem;

    .footer-direction {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .footer-section {
        .footer-title {
          font-size: $nfs * 1.2;
          margin-bottom: 1rem;
          color: $white;
        }

        .footer-ul {
          @include flexColumn;
          list-style: none;
          padding: 0;

          .footer-ul-li {
            margin-bottom: 0.5rem;

            .footer-ul-li-link {
              color: $white;
              transition: color 0.3s;

              &:hover {
                color: $red;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    background-color: $copyright-bg;
    text-align: center;
    padding: 1rem;
    font-size: $nfs * 0.8;
    color: $white;
  }
}

/* Responsive Styles */

/* Up to 480px (very small mobile screens) */
@media (max-width: 480px) {
  .footer-container {
    .footer-details-wrapper {
      grid-template-columns: 1fr;
      padding: 1rem;

      .footer-direction {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .footer-section {
        margin-bottom: 1rem;
        .footer-title {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Between 481px and 768px (common for most mobile devices) */
@media (min-width: 481px) and (max-width: 767px) {
  .footer-container {
    .footer-details-wrapper {
      padding: 1.5rem;

      .footer-direction {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    .footer-details-wrapper {
      grid-template-columns: 1fr;
      padding: 2rem;

      .footer-direction {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .footer-container {
    .footer-details-wrapper {
      padding: 2rem;

      .footer-section {
        .footer-title {
          font-size: $nfs * 1.1;
        }
      }
    }
  }
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
  .footer-container {
    .footer-details-wrapper {
      padding: 2.5rem;

      .footer-section {
        h3.footer-title {
          font-size: $nfs * 1.3;
        }
      }
    }
  }
}
