@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

/* Laptop screen size */
@media screen and (min-width: 1024px) {
  .register-page {
    .register-container {
      width: 50%;
      margin: 1rem auto 3rem;
      padding: 0 2rem;

      .user-register-title {
        @include title;
        margin-bottom: 0;
      }
    }
  }
}
