@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.about-page {
  .about-page-container {
    width: $mobile;
    margin: 2rem auto;
    min-height: 100vh;

    .about-page-title {
      @include title;
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .about-page {
    .about-page-container {
      width: $mobile;
      margin: 1rem auto;

      .about-page-title {
        font-size: $nfs;
      }
    }
  }
}


/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .about-page {
    .about-page-container {
      width: $mobileLandscape;

      .about-page-title {
        font-size: $afs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .about-page {
    .about-page-container {
      width: $tablet;

      .about-page-title {
        font-size: $aafs;
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .about-page {
    .about-page-container {
      width: $laptop;
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .about-page {
    .about-page-container {
      width: $desktop;
    }
  }
}
