@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.priest-committees-container {
  width: $mobile;
  margin: 2rem auto;

  .priest-committees-title {
    @include subTitle;
  }

  .access-information {
    @include paragraph;
  }

  .committee-query-form {
    @include flexColumn;
    padding: 1rem;
    margin-top: 2rem;

    .input-container {
      @include selectContainer;

      .select-field {
        @include selectField;
      }

      .select-option {
        @include selectOption;
      }
    }

    .priest-committees-btn {
      @include button3;
    }
  }

  .priest-committee-card-wrapper {
    @include twoGridTemplateEqualColumns;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .priest-committees-container {
    width: $mobile;
    margin: 2rem auto;

    .priest-committees-title {
      font-size: $nfs;
    }

    .access-information {
      font-size: $sfs;
    }

    .committee-query-form {
      .input-container {
        .select-field {
          font-size: $sfs;
        }

        .select-option {
          font-size: $sfs;
        }
      }

      .priest-committees-btn {
        font-size: $sfs;
      }
    }

    .priest-committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .priest-committees-container {
    width: $mobileLandscape;

    .priest-committees-title {
      font-size: $afs;
    }

    .access-information {
      font-size: $nfs;
    }

    .committee-query-form {
      .input-container {
        .select-field {
          font-size: $nfs;
        }

        .select-option {
          font-size: $nfs;
        }
      }

      .priest-committees-btn {
        font-size: $nfs;
      }
    }

    .priest-committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .priest-committees-container {
    width: $tablet;

    .priest-committees-title {
      font-size: $aafs;
    }

    .access-information {
      font-size: $nfs;
    }

    .committee-query-form {
      .input-container {
        .select-field {
          font-size: $nfs;
        }

        .select-option {
          font-size: $nfs;
        }
      }

      .priest-committees-btn {
        font-size: $nfs;
      }
    }

    .priest-committee-card-wrapper {
      @include flexColumn;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
