@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.mass-list-container {
  margin: 1rem 0;
  .mass-list-title {
    @include subTitle;
  }

  .mass-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .mass-list-container {
    .mass-list-title {
      font-size: $nfs;
      text-align: center;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .mass-list-container {
    .mass-list-title {
      font-size: $nfs;
      margin: 0.5rem 2rem;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .mass-list-container {
    .mass-list-title {
      font-size: $afs * 1.2;
      margin: 0.5rem 2rem;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .mass-list-wrapper {
    @include twoGridTemplateEqualColumns;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .mass-list-wrapper {
    @include twoGridTemplateEqualColumns;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}
