@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.form-mass-container {
  background-color: $form-bg;
  width: $laptop;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  border-radius: $radius;

  .mass-form-title {
    @include subTitle;
    text-align: center;
  }
}

.mass-form {
  .inputs-wrapper {
    @include twoGridTemplateEqualColumns;

    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;

      .input-icon {
        @include inputIcon;
      }

      .input-field {
        @include inputField;
      }

      .input-label {
        @include inputLabel;
      }

      .input-highlight {
        @include inputHighlight;
      }

      .input-field:focus + .input-label {
        @include focusInputFieldAndInputLabel;
      }

      .input-error-message {
        color: $red;
        font-size: $sfs;
        margin: 0.3rem 0 0 0.5rem;
        text-align: left;
      }
    }

    .fieldset-form {
      border: none;

      .fieldset-legend {
        font-weight: bold;
        font-size: $nfs;
      }

      .input-container {
        @include inputContainer;
        margin-top: 1rem;

        .input-icon {
          @include inputIcon;
        }

        .input-field {
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }

        .input-field:focus + .input-label {
          @include focusInputFieldAndInputLabel;
        }
      }
    }
  }

  .input-textarea-container {
    @include inputContainer;
    margin: 1rem 0;

    .input-icon {
      @include inputIcon;
    }

    .input-field {
      @include inputField;
    }

    .input-label {
      @include inputLabel;
    }

    .input-highlight {
      @include inputHighlight;
    }

    .input-field:focus + .input-label {
      @include focusInputFieldAndInputLabel;
    }
  }

  .submit-wrapper {
    .create-mass-btn {
      @include button3;
    }
  }
}
