@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.subscription-form {
  background-color: $footer-bg;
  max-width: 25rem;
  width: 100%;
  padding: 20px;
  background-color: $copyright-bg;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .subscription-title {
    color: $white;
    margin-bottom: 1rem;
  }

  .input-container {
    margin-bottom: 0.8rem;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: $copyright-bg;
    color: $white;

    &::placeholder {
      color: $lightGray;
    }
  }

  .subscription-btn {
    @include button3;
  }
}
