@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.event-form-wrapper {
  @include shadow2;
  background-color: $form-bg;
  margin-bottom: 2rem;

  .event-form-title {
    @include subTitle;
  }

  .event-form {
    @include flexColumn;
    margin-top: 0;

    .inputs-wrapper {
      @include threeGridTemplateEqualColumns;
      margin: 0;
    }

    .event-address-and-date {
      @include twoGridTemplateEqualColumns;
      margin: 0;
    }

    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;

      .input-icon {
        @include inputIcon;
      }

      .input-field {
        @include inputField;
      }

      .input-label {
        @include inputLabel;
      }

      .input-highlight {
        @include inputHighlight;
      }

      .input-field:focus + .input-label {
        @include focusInputFieldAndInputLabel;
      }

      .input-field:focus + .input-label + .input-highlight {
        width: 100%;
      }

      .password-display {
        @include passwordDisplay;
      }
    }

    .input-error {
      color: $red;
      font-size: $sfs;
      margin: 0.5rem 0 0 0.3rem;
      
    }

    .input-consent {
      @include inputContainer;
      @include flexRow;
      align-items: center;

      .consent-checkbox {
        height: 1.6rem;
        width: 1.3rem;
        cursor: pointer;
      }

      .terms-of-user {
        color: $blue;
      }
    }

    .add-event-btn {
      @include button3;
    }
  }
}
