@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.add-financial-expense-modal {
  @include modal;

  .add-financial-expense-popup {
    @include popupBox;
    width:50rem;
    padding: 1rem 2rem 2rem;

    .close {
      @include closeModal;
    }

    .title {
      @include title;
      margin-bottom: 1rem;
    }

    .expense-form {
      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;

        .input-container {
          @include inputContainer;

          .input-icon {
            @include inputIcon;
          }

          .input-field {
            @include inputField;
          }

          .input-label {
            @include inputLabel;
          }

          .input-highlight {
            @include inputHighlight;
          }

          .input-field:focus + .input-label {
            @include focusInputFieldAndInputLabel;
          }

          .input-field:focus + .input-label + .input-highlight {
            width: 100%;
          }
        }
      }

      .add-btn {
        @include button3;
        margin-top: 2rem;

        .loading {
          @include loader;
        }
      }
    }
  }
}
