@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.add-financial-expense-modal {
  @include modal;
  overflow-y: scroll;


  .add-financial-expense-popup {
    @include popupBox;
    width: 50rem;
    padding: 1rem 2rem 2rem;
    margin-top: 2rem;

   

    .close {
      @include closeModal;
    }

    .title {
      @include title;
      margin-bottom: 1rem;
    }

    .expense-form {
      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;

        .input-container {
          position: relative;
          display: flex;
          flex-direction: column;

          .input-icon {
            @include inputIcon;
          }

          .input-field {
            @include inputField;
          }

          .input-label {
            @include inputLabel;
          }

          .input-highlight {
            @include inputHighlight;
          }

          .input-field:focus + .input-label {
            @include focusInputFieldAndInputLabel;
          }

          .input-field:focus + .input-label + .input-highlight {
            width: 100%;
          }

          .error-text {
            color: $red;
            font-size: $sfs;
            margin: 0.3rem 0 0 0.2rem;
          }
        }
      }

      .add-btn {
        @include button3;
        margin-top: 2rem;

        .loading {
          @include loader;
        }
      }
    }
  }
}
