@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.add-financial-report-modal {
  @include modal;
  overflow-y: scroll;

  .add-financial-report-popup {
    @include popupBox;
    width: 50rem;
    padding: 1rem 2rem 2rem;
    margin-top: 2rem;

    .close {
      @include closeModal;
    }

    .add-financial-report-title {
      @include title;
      margin-bottom: 1rem;
    }

    .expense-form {
      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;

        .input-container {
          position: relative;
          display: flex;
          flex-direction: column;

          .input-icon {
            @include inputIcon;
          }

          .input-field {
            @include inputField;
          }

          .input-label {
            @include inputLabel;
          }

          .input-highlight {
            @include inputHighlight;
          }

          .input-field:focus + .input-label {
            @include focusInputFieldAndInputLabel;
          }

          .input-field:focus + .input-label + .input-highlight {
            width: 100%;
          }

          .error-text {
            color: $red;
            font-size: $sfs;
            margin: 0.3rem 0 0 0.2rem;
          }
        }
      }

      .add-btn {
        @include button3;
        margin-top: 2rem;

        .loading {
          @include loader;
        }
      }
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .add-financial-report-modal {
    @include modal;

    .add-financial-report-popup {
      @include popupBox;
      @include verticalScrollbar;
      width: 16rem;

      .close {
        font-size: $nfs;
      }

      .add-financial-report-title {
        font-size: $nfs;
        text-align: center;
      }

      .expense-form {
        .inputs-wrapper {
          @include flexColumn;

          .input-container {
            .input-icon {
              font-size: $sfs;
            }

            .input-field {
              font-size: $sfs;
            }

            .input-label {
              font-size: $sfs;
            }

            .input-highlight {
              @include inputHighlight;
            }

            .input-field:focus + .input-label {
              font-size: $sfs;
            }

            .input-field:focus + .input-label + .input-highlight {
              width: 100%;
            }

            .error-text {
              font-size: $sfs;
            }
          }
        }

        .add-btn {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .add-financial-report-modal {
    @include modal;

    .add-financial-report-popup {
      @include popupBox;
      @include verticalScrollbar;
      width: 27rem;
      padding: 2rem 3rem;

      .close {
        font-size: $afs;
      }

      .add-financial-report-title {
        font-size: $afs;
        text-align: center;
      }

      .expense-form {
        .inputs-wrapper {
          @include flexColumn;

          .input-container {
            .input-icon {
              font-size: $nfs;
            }

            .input-field {
              font-size: $nfs;
            }

            .input-label {
              font-size: $nfs;
            }

            .input-highlight {
              @include inputHighlight;
            }

            .input-field:focus + .input-label {
              font-size: $nfs;
            }

            .input-field:focus + .input-label + .input-highlight {
              width: 100%;
            }

            .error-text {
              font-size: $nfs;
            }
          }
        }

        .add-btn {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .add-financial-report-modal {
    @include modal;

    .add-financial-report-popup {
      @include popupBox;
      width: 40rem;
      padding: 1rem 2rem 2rem;
      margin-top: 2rem;


      .expense-form {
        .inputs-wrapper {
          @include twoGridTemplateEqualColumns;
        }
      }
    }
  }
}


/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
