@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.popular-services-wrapper {
  padding: 1rem 2rem 2rem 2rem;
  background-color: #dee2e6;
  border-radius: $radius;

  .popular-services-title {
    @include subTitle;
    font-size: $aafs;
  }

  .services-list {
    .service-details {
      @include shadow1;
      line-height: 2rem;
      background-color: $section-bg;

      .small-element {
        color: $gray;
        padding-left: 0.5rem;
        text-transform: capitalize;
        font-size: $sfs;
      }

      .service-name {
        color: $blue;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: $tomato;
        }
      }

      .service-title {
        font-size: $nfs;
        padding: 0;
      }

      .service-size {
        font-size: $nfs;
      }

      .service-infos {
        font-size: $nfs;
      }

      .service-status {
        font-size: $nfs;

        .completed {
          color: $green;
        }
      }

      .service-date {
        font-size: $nfs;
      }
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .popular-services-wrapper {
    padding: 0.3rem;
    .popular-services-title {
      font-size: $afs;
      text-align: center;
    }
    .services-list {
      @include flexColumn;
      @include shadow1;
      gap: 1rem;

      .service-details {
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .popular-services-wrapper {
    padding: 0.3rem;
    .popular-services-title {
      font-size: $afs;
      text-align: center;
    }
    .services-list {
      @include flexColumn;
      @include shadow1;
      gap: 1rem;

      .service-details {
        font-size: $nfs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .popular-services-wrapper {
    padding: 0.3rem;
    .popular-services-title {
      font-size: $afs;
      text-align: center;
    }
    .services-list {
      @include twoGridTemplateEqualColumns;
      @include shadow1;
      gap: 1rem;

      .service-details {
        font-size: $nfs;
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .services-list {
    @include twoGridTemplateEqualColumns;
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .services-list {
    @include twoGridTemplateEqualColumns;
  }
}
