@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.events-section-wrapper {
  width: $laptop;
  margin: 2rem auto;

  .events-list-title {
    @include subTitle;
    margin: 3rem 0 1.5rem 0;
  }

  .event-delete-confirmation-modal {
    @include deleteConfirmationModal;
  
    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }
  
    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }
  
    .confirmation-buttons-wrapper {
      @include buttonsWrapper;
  
      .confirm-delete-btn {
        @include buttonForDelete;
      }
  
      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }
}

.edit-icon {
  @include editIcon;
}

.delete-icon {
  @include deleteIcon;
}