@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.members-container {
  width: $mobile;
  margin: 1rem auto;

  .members-title {
    @include subTitle;
    text-align: center;
  }

  .new-member-wrapper {
    @include flexSpaceBetween;
    margin: 2rem 0;

    .title {
      @include subTitle;
    }

    .add-member {
      @include button2;
    }
  }

  // DeleteConfirmationModal Styles

  .member-delete-confirmation-modal {
    @include deleteConfirmationModal;

    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }

    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }

    .confirmation-buttons-wrapper {
      @include buttonsWrapper;

      .confirm-delete-btn {
        @include buttonForDelete;
      }

      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }
}
