@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.members-contribution-wrapper {
  width: $laptop;
  margin: 1rem auto;
  .members-contribution-title {
    @include subTitle;
    text-align: center;
  }

  .add-contribution-aside {
    @include flexSpaceBetween;
    margin: 2rem 0;

    .add-contribution-aside-title {
      @include subTitle;
    }

    .add-contribution-btn {
      @include button2;
    }
  }
}
