@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.members-contribution-wrapper {
  width: $mobile;
  margin: 1rem auto;
  .members-contribution-title {
    @include subTitle;
    text-align: center;
  }

  .add-contribution-aside {
    @include flexSpaceBetween;
    margin: 2rem 0;

    .add-contribution-aside-title {
      @include subTitle;
    }

    .add-contribution-btn {
      @include button2;
    }
  }

  .year-filter-form {
    @include flexRow;
    align-items: center;
    margin: 0 0 1rem 0;

    .year-filter-label {
      font-size: $nfs;
      text-align: left;
    }

    .year-filter-input {
      @include inputWithButton;
      width: 15rem;
    }

    .year-filter-btn {
      @include buttonWithInput;
    }
  }

  .no-financial-contribution {
    @include subTitle;
    color: $tomato;
  }

  .contribution-delete-confirmation-modal {
    @include deleteConfirmationModal;

    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }

    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }

    .confirmation-buttons-wrapper {
      @include buttonsWrapper;

      .confirm-delete-btn {
        @include buttonForDelete;
      }

      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }

  .action-wrapper {
    @include flexRow;
    align-items: center;

    .delete-btn {
      border: none;
      .delete-icon {
        @include deleteIcon;
        font-size: $nfs;
      }
    }
  }

  .MuiDataGrid-cell {
    display: flex;
    align-items: center;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .members-contribution-wrapper {
    width: $mobile;

    .members-contribution-title {
      font-size: $nfs;
      text-align: center;
    }

    .add-contribution-aside {
      @include flexSpaceBetween;
      margin: 2rem 0;

      .add-contribution-aside-title {
        font-size: $sfs;
      }

      .add-contribution-btn {
        font-size: $sfs;
      }
    }

    .year-filter-form {
      @include flexColumn;
      width: 100%;

      .year-filter-label {
        font-size: $sfs;
      }

      .year-filter-input {
        font-size: $sfs;
        width: 100%;
      }

      .year-filter-btn {
        @include button3;
      }
    }

    .no-financial-contribution {
      font-size: $sfs;
    }

    .contribution-delete-confirmation-modal {
      @include mobileDeleteConfirmationModal;

      .delete-confirmation-title {
        font-size: $nfs;
      }

      .delete-confirmation-statement {
        font-size: $sfs;
      }

      .confirmation-buttons-wrapper {
        @include buttonsWrapper;

        .confirm-delete-btn {
          font-size: $sfs;
        }

        .cancel-delete-btn {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .members-contribution-wrapper {
    width: $mobileLandscape;

    .members-contribution-title {
      font-size: $afs * 1.2;
      text-align: center;
    }

    .add-contribution-aside {
      @include flexSpaceBetween;
      margin: 2rem 0;

      .add-contribution-aside-title {
        font-size: $afs;
      }

      .add-contribution-btn {
        font-size: $nfs;
      }
    }

    .year-filter-form {
      @include flexColumn;
      width: 100%;

      .year-filter-label {
        font-size: $nfs;
      }

      .year-filter-input {
        font-size: $nfs;
        width: 100%;
      }

      .year-filter-btn {
        @include button3;
      }
    }

    .no-financial-contribution {
      font-size: $nfs;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
