@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.annual-report-chart-wrapper {
  position: relative;
  margin: 2rem 0;

  .annual-report-chart-title {
    @include subTitle;
  }

  .financial-year-form {
    position: absolute;
    top: 1rem;
    right: 2rem;

    .input-field {
      @include inputWithButton;
    }

    .year-form-btn {
      @include buttonWithInput;
    }
  }

  .no-reports-message {
    @include subTitle;
    color: $tomato;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .annual-report-chart-wrapper {
    position: relative;

    .annual-report-chart-title {
      font-size: $nfs;
      text-align: center;
      margin: 5rem 0;
    }

    .financial-year-form {
      @include flexRow;
      position: absolute;
      top: 4rem;
      left: 0;

      .input-field {
        @include inputWithButton;
      }

      .year-form-btn {
        @include buttonWithInput;
      }
    }

    .no-reports-message {
      @include subTitle;
      color: $tomato;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .annual-report-chart-wrapper {
    position: relative;

    .annual-report-chart-title {
      font-size: $afs;
      margin: 5rem 0;
    }

    .financial-year-form {
      @include flexRow;
      position: absolute;
      top: 4rem;
      left: 0;

      .input-field {
        @include inputWithButton;
      }

      .year-form-btn {
        @include buttonWithInput;
      }
    }

    .no-reports-message {
      @include subTitle;
      color: $tomato;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .annual-report-chart-wrapper {
    position: relative;

    .annual-report-chart-title {
      font-size: $afs;
      margin: 5rem 0;
    }

    .financial-year-form {
      @include flexRow;
      position: absolute;
      top: 4rem;
      left: 0;

      .input-field {
        @include inputWithButton;
      }

      .year-form-btn {
        @include buttonWithInput;
      }
    }

    .no-reports-message {
      @include subTitle;
      color: $tomato;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
