@import "../../../../styles/Variables.scss";
@import "../../../../styles/Mixins.scss";

.priest-dashboard-header {
  @include flexSpaceBetween;
  padding: 0 2rem;
  background-color: $priest-header-bg;

  .image-container {
    .image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .priest-dashboard-header-items {
    @include flexRow;
    gap: 2rem;
    .priest-dashboard-header-item {
      .active-priest-dashboard-header-icon {
        color: $red;
        font-size: $aafs;
        cursor: pointer;
      }

      .passive-priest-dashboard-header-icon {
        color: $iconColor;
        font-size: $afs;
        cursor: pointer;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .priest-dashboard-header {
    display: none;
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .priest-dashboard-header {
    padding: 1rem;
    .image-container {
      display: none;
    }

    .priest-dashboard-header-items {
      @include flexRow;
      gap: 2rem;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .priest-dashboard-header {
    padding: 1rem;
    .image-container {
      display: none;
    }

    .priest-dashboard-header-items {
      @include flexRow;
      gap: 2rem;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .priest-dashboard-header {
    padding: 1rem;
    .image-container {
      display: none;
    }

    .priest-dashboard-header-items {
      @include flexRow;
      gap: 2rem;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
