@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

/* Base styling */
.home-page {
  .home-page-container {
    width: $mobile;
    margin: 1rem auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .home-page-title {
      @include title;
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  /* Add styles specific to portrait phones */
  .home-page {
    // Pope
    .home-page-container {
      .home-page-title {
        font-size: $nfs;
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Add styles specific to landscape phones */
  .home-page {
    .home-page-container {
      width: $mobileLandscape;
      margin: 1rem auto;
      .home-page-title {
        font-size: $nfs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-page {
    .home-page-container {
      width: $tablet;
      .home-page-title {
        font-size: $afs;
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .home-page {
    .home-page-container {
      width: $laptop;
      .home-page-title {
        font-size: $aafs;
      }
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .home-page {
    .home-page-container {
      width: $desktop;
      .home-page-title {
        font-size: $lfs;
        padding: 1rem;
        text-align: center;
        margin: 2rem 0;
      }
    }
  }
}
