@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

/* Mobile screen size */

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Laptop screen size */
@media screen and (min-width: 1024px) {
  .home-page {
    // Pope
    .home-page-container {
      width: $laptop;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .title {
        @include title;
      }
    }
  }
}
