@import "../../../../styles/Variables.scss";
@import "../../../../styles/Mixins.scss";

.parish-priest-dashboard-sidebar-container {
  width: 16%;
  background-color: $sidebar-bg;

  .priest-sidebar-hamburger-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .parish-priest-dashboard-sidebar-wrapper {
    .parish-priest-dashboard-sidebar-title {
      @include subTitle;
    }

    .parish-priest-dashboard-sidebar-item {
      @include flexRow;
      @include shadow1;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $sidebar-hover;
      }

      .active-icon {
        color: $red;
        font-size: $afs;
      }

      .passive-icon {
        color: $green;
        font-size: $afs;

        &:hover {
          color: $red;
        }
      }

      .active-text {
        color: $red;
      }

      .passive-text {
        color: $black;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

// Small devices screen
.parish-priest-dashboard-sidebar-container.open-priest-dashboard-sidebar-menu {
  .parish-priest-dashboard-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0rem;
    background-color: $userSidebar-bg;
    width: 100%;
    min-height: 100vh;
    padding: 1rem 2rem;
    z-index: 9999;

    .parish-priest-dashboard-sidebar-item {
      .active-icon {
        font-size: $sfs;
      }

      .passive-icon {
        font-size: $sfs;
      }

      .active-text {
        font-size: $sfs;
      }

      .passive-text {
        font-size: $sfs;
      }
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .parish-priest-dashboard-sidebar-wrapper {
    display: none;
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .parish-priest-dashboard-sidebar-wrapper {
    display: none;
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .parish-priest-dashboard-sidebar-wrapper {
    display: none;
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .parish-priest-dashboard-sidebar-wrapper {
    display: none;
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .parish-priest-dashboard-sidebar-container {
    min-height: 100vh;

    .priest-sidebar-hamburger-menu {
      display: none;
    }
  }
}
