@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.add {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(102, 51, 153, 0.723);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .modal {
    position: relative;
    padding: 0 3rem;
    border-radius: 0.5rem;
    background-color: $main-bg;
    color: $soft-color;

    .close {
      position: absolute;
      top: 0.6rem;
      right: 1rem;
      color: white;
      cursor: pointer;

      &:hover {
        color: tomato;
      }
    }

    .title {
     @include title;
     margin-bottom: 1rem;
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      justify-content: space-between;

      .input-container {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 1rem;

        .input-field {
          padding: 10px;
          background-color: transparent;
          color: $main-color;
          outline: none;
        }

        .input-label {
          font-size: 14px;
        }
      }

      // Image container
      .file-input-container {
        position: relative;
        width: 48%;

        .file-field {
          @include inputField2;
          opacity: 0;
        }

        .file-label {
          width: 90%;
          position: absolute;
          top: 0;
          left: 0;
          font-size: $afs;
          border: 1px solid rgba(255, 255, 255, 0.481);
          padding: 0.3rem;

          .icon {
            cursor: pointer;
          }
        }
      }

      .add-btn {
        @include button;
      }
    }
  }
}
