@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.service-update-page {
  .service-update-page-container {
    width: 50%;
    margin: 2rem auto;
    background-color: $form-bg;
    padding: 2rem;

    .service-update-title {
      @include subTitle;
      margin-bottom: 2rem;
    }
  }
}
