@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.priest-dashboard-parishioners-container {
  width: $laptop;
  min-height: 100vh;
  margin: 1rem auto;

  .parishioners-title {
    @include subTitle;
    font-size: $afs;
    padding: 2rem 0;
  }
}
