.spinner-button-container {
  display: "flex";
  flex-direction: "column";
  align-items: center;
  justify-content: center;
  height: "100vh";
  width: "100%";
}

.spinner-message {
  margin-top: "10px";
  font-size: "18px";
  color: "#555";
}
