@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.delegated-priests-wrapper {
  width: $laptop;
  margin: 1rem auto;

  .delegated-priests-title {
    @include subTitle;
    margin: 2rem 0;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .delegated-priests-wrapper {
    width: $mobile;

    .delegated-priests-title {
      font-size: $nfs;
      text-align: center;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .delegated-priests-wrapper {
    width: $mobile;

    .delegated-priests-title {
      font-size: $afs;
      text-align: center;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .delegated-priests-wrapper {
    width: $tablet;

    .delegated-priests-title {
      font-size: $aafs;
      text-align: center;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
