@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.financial-report-table-container {
  position: relative;
  width: $laptop;
  margin: 2rem auto;

  .financial-report-table-title {
    @include subTitle;
    font-size: $afs;
    margin: 2rem 0;
    padding: 0;
  }

  .finance-report-table-form {
    position: absolute;
    top: 4rem;
    left: 40%;

    .input-field {
      @include inputWithButton;
    }

    .finance-report-table-form-btn {
      @include buttonWithInput;
    }
  }

  .add-new-report {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-new-report-title {
      @include subTitle;
      margin: 1rem 0;
      padding: 0;
    }

    .add-new-report-btn {
      @include button2;
    }
  }

  .financial-reports-table {
    margin-top: 1rem;
    .financial-report-table {
      width: 100%;

      .table-head {
        background-color: #b0c4de;
        text-align: left;

        .table-head-row {
          border-radius: 1rem;

          .head-cell {
            padding: 1rem 0.3rem;
            font-size: $nfs;
          }
        }
      }

      .table-body {
        .table-body-row {
          .body-cell {
            border-bottom: 1px solid $table_border;
            padding: 0 0.5rem;
            padding: 1rem 0.5rem;
            font-size: $nfs;
          }

          .negative {
            border-bottom: 1px solid $table_border;
            padding: 0 0.5rem;
            color: tomato;
          }

          .positive {
            border-bottom: 1px solid $table_border;
            padding: 0 0.5rem;
            color: $green;
          }

          .body-cell-action {
            border-bottom: 1px solid $table_border;
            padding: 0 0.5rem;
            width: 150px;

            .delete-icon {
              font-size: $afs;
              color: $tomato;
              cursor: pointer;

              &:hover {
                color: $red;
              }
            }
          }
        }
      }
    }

    .total-income-status {
      font-size: $afs;
      padding: 1rem 0;
      .total-surplus {
        color: $blue;
        font-size: $aafs;
      }

      .total-deficit {
        color: $tomato;
        font-size: $aafs;
      }
    }
  }
}
