@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.financial-report-table-container {
  position: relative;
  width: $laptop;
  margin: 2rem auto;

  .financial-report-table-title {
    @include subTitle;
    font-size: $afs;
    margin: 2rem 0;
    padding: 0;
  }

  .finance-report-table-form {
    position: absolute;
    top: 4rem;
    left: 40%;

    .input-field {
      @include inputWithButton;
    }

    .finance-report-table-form-btn {
      @include buttonWithInput;
    }
  }

  .add-new-report {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-new-report-title {
      @include subTitle;
      margin: 1rem 0;
      padding: 0;
    }

    .add-new-report-btn {
      @include button2;
    }
  }

  .action-wrapper {
    @include flexRow;
    align-items: center;

    .edit-icon {
      @include editIcon;
    }

    .delete-icon {
      @include deleteIcon;
    }
  }

  .financial-report-delete-confirmation-wrapper {
    @include deleteConfirmationModal;

    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }

    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }

    .confirmation-buttons-wrapper {
      @include buttonsWrapper;

      .confirm-delete-btn {
        @include buttonForDelete;
      }

      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }
}

.action-wrapper {
  @include flexRow;
  align-items: center;

  .edit-icon {
    @include editIcon;
  }

  .delete-report-btn {
    border: none;
    .delete-icon {
      @include deleteIcon;
    }
  }
}

/* Up to 480px (very small mobile screens) */
@media (max-width: 480px) {
  .financial-report-table-container {
    position: relative;
    width: $mobile;

    .financial-report-table-title {
      font-size: $nfs;
      margin: 1rem 0 5rem 0;
      padding: 0;
    }

    .finance-report-table-form {
      @include flexRow;
      position: absolute;
      top: 2.5rem;
      left: 0;

      .input-field {
        width: 100%;
        font-size: $sfs;
      }

      .finance-report-table-form-btn {
        font-size: $sfs;
      }
    }

    .add-new-report {
      .add-new-report-title {
        font-size: $sfs;
      }

      .add-new-report-btn {
        font-size: $sfs;
      }
    }

    .financial-report-delete-confirmation-wrapper {
      @include mobileDeleteConfirmationModal;

      .delete-confirmation-title {
        font-size: $nfs;
      }

      .delete-confirmation-statement {
        font-size: $sfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $sfs;
        }

        .cancel-delete-btn {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Between 481px and 768px (common for most mobile devices) */
@media (min-width: 481px) and (max-width: 768px) {
  .financial-report-table-container {
    position: relative;
    width: $tablet;

    .financial-report-table-title {
      font-size: $afs;
      margin: 1rem 0 5rem 0;
      padding: 0;
    }

    .finance-report-table-form {
      @include flexRow;
      position: absolute;
      top: 2.5rem;
      left: 0;

      .input-field {
        width: 100%;
        font-size: $nfs;
      }

      .finance-report-table-form-btn {
        font-size: $nfs;
      }
    }

    .add-new-report {
      .add-new-report-title {
        font-size: $nfs;
      }

      .add-new-report-btn {
        font-size: $nfs;
      }
    }

    .financial-report-delete-confirmation-wrapper {
      .delete-confirmation-title {
        font-size: $afs;
      }

      .delete-confirmation-statement {
        font-size: $nfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $nfs;
        }

        .cancel-delete-btn {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  .financial-report-table-container {
    position: relative;
    width: $tablet;

    .financial-report-table-title {
      font-size: $afs;
      margin: 1rem 0 5rem 0;
      padding: 0;
    }

    .finance-report-table-form {
      @include flexRow;
      position: absolute;
      top: 2.5rem;
      left: 0;

      .input-field {
        width: 100%;
        font-size: $nfs;
      }

      .finance-report-table-form-btn {
        font-size: $nfs;
      }
    }

    .add-new-report {
      .add-new-report-title {
        font-size: $nfs;
      }

      .add-new-report-btn {
        font-size: $nfs;
      }
    }

    .financial-report-delete-confirmation-wrapper {
      .delete-confirmation-title {
        font-size: $afs;
      }

      .delete-confirmation-statement {
        font-size: $nfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $nfs;
        }

        .cancel-delete-btn {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
}
