@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

/* Labtop screen size */
.service-form-container {
  @include shadow1;
  background-color: $form-bg;
  padding: 1rem 3rem;

  .service-form-title {
    @include subTitle;
  }
  .service-request-form {
    @include flexColumn;

    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;

      .icon {
        @include inputIcon;
      }

      .input-field {
        @include inputField;
      }

      .input-label {
        @include inputLabel;
      }

      .input-highlight {
        @include inputHighlight;
      }

      .input-field:focus + .input-label {
        top: -0.4rem;
        font-size: $sfs;
        color: $gray;
      }

      .error-text {
        color: $red;
        font-size: $sfs;
        margin: 0.2rem 0.5rem;
      }
    }

    .file-container {
      position: relative;
      display: flex;
      flex-direction: column;

      .icon {
        @include inputIcon;
      }

      .file-field {
        @include inputField;
        cursor: pointer;
      }

      .file-label {
        @include inputLabel;
      }

      .error-text {
        color: $red;
        font-size: $sfs;
        margin: 0.2rem 0.5rem;
      }
    }

    .service-request-btn-wrapper {
      margin: 1rem 0;

      .service-request-btn {
        @include button3;
      }
    }

    
  }
}
