@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.user-monthly-contribution-container {
  width: $mobile;
  margin: 1rem auto;
  .user-monthly-contribution-title {
    @include subTitle;
    margin: 2rem 0;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .user-monthly-contribution-container {
    width: $mobile;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $nfs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .user-monthly-contribution-container {
    width: $mobileLandscape;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $afs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .user-monthly-contribution-container {
    width: $tablet;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $afs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .user-monthly-contribution-container {
    width: $laptop;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $aafs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .user-monthly-contribution-container {
    width: $desktop;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $aafs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}
