@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.user-monthly-contribution-container {
  width: $laptop;
  margin: 1rem auto;
  .user-monthly-contribution-title {
    @include subTitle;
    margin: 2rem 0;
  }
}

/* Up to 480px (very small mobile screens) */
@media (max-width: 480px) {
  .user-monthly-contribution-container {
    width: $mobile;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $nfs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}

/* Between 481px and 768px (common for most mobile devices) */
@media (min-width: 481px) and (max-width: 768px) {
  .user-monthly-contribution-container {
    width: $mobile;
    margin: 0.1rem auto;
    .user-monthly-contribution-title {
      font-size: $afs;
      margin: 0.1rem 0 2rem 0;
    }
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
}
