@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.header {
  height: 12rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  background-image: url('../../assets/church.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  .header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include title;
    color: #ffffff;
    font-size: $afs;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      position: absolute;
      top: 1rem;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      object-fit: cover;
    }

    .devine-mercy {
      position: absolute;
      top: 0;
      right: 2rem;
      width: 10rem;
      height: 12rem;
      border-radius: $radius;
      object-fit: cover;
    }
  }
}
