@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

// Base styling
.shepherds {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;

  // Slide arrows
  .arrow {
    border: 1px solid $red;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &:hover {
      background: #fff;
    }
  }

  .next {
    right: 0;
    color: $blue;
  }
  .prev {
    left: 0;
    color: $blue;
  }

  // Slide show
  .slide-show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    background-color: $section-bg;
  }

  // Current slide show

  .slide-show.current-slide {
    opacity: 1;
    transform: translateX(0);
    height: fit-content;

    .shepherd-info > * {
      margin-bottom: 1rem;
    }
  }

  .current-slide .shepherd-info {
    opacity: 1;
  }

  .shepherd-info {
    position: absolute;
    right: -8%;
    top: 50%;
    opacity: 0;
    width: 40%;
    padding: 3rem;
    transform: translate(-50%, -50%);
    background: #f0f8ff;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.3rem;
    animation: slide-to-right 2s ease 1s;
    h2 {
      font-size: $afs;
    }
    .link {
      cursor: pointer;
      .anchor {
        cursor: pointer;
      }
    }
  }

  .shepherd-info .span1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0%;
    width: 25%;
    height: 2px;
    background: #ff00ff;
    animation: span1 3s linear infinite;
  }

  .shepherd-info .span2::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 25%;
    height: 2px;
    background: #ff00ff;
    animation: span2 3s linear infinite;
  }
  .shepherd-info .span3::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2px;
    height: 25%;
    background: #ff00ff;
    animation: span3 3s linear infinite;
  }
  .shepherd-info .span4::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 2px;
    height: 25%;
    background: #ff00ff;
    animation: span4 3s linear infinite;
  }
}

// Animation for span1
@keyframes span1 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

// Animation for span2
@keyframes span2 {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

// Animation for span3
@keyframes span3 {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

// Animation for span4
@keyframes span4 {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

// Animation slide up

@keyframes slide-to-right {
  0% {
    visibility: visible;
    right: 0;
    background-color: #f5f3f4;
  }

  100% {
    visibility: visible;
    top: 50%;
    background-color: #cae9ff;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  /* Add styles specific to portrait phones */
  .shepherds {
    height: 40vh;

    .arrow {
      display: none;
    }

    .slide-show {
      .bishop-image-container {
        @include flexCenter;

        .photo {
          width: 15rem;
          height: 20rem;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }
    }
  }

  .shepherd-info {
    display: none;
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Add styles specific to landscape phones */
  .slide-show {
    .bishop-image-container {
      @include flexCenter;
      height: 30rem;
      .photo {
        width: 20rem;
        height: 25rem;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }

  .shepherd-info {
    display: none;
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .shepherds {
    height: 46vh;
  }

  .slide-show {
    .bishop-image-container {
      @include flexCenter;
      height: 30rem;

      .photo {
        width: 23rem;
        height: 29rem;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }

  .shepherd-info {
    display: none;
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .shepherds {
    height: 50vh;

    .shepherd-info {
      position: absolute;
      right: -18%;
    }
  }

  .slide-show {
    .bishop-image-container {
      height: 30rem;

      .photo {
        width: 25rem;
        height: 29rem;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }

  // Current slide show

  .slide-show.current-slide {
    opacity: 1;
    transform: translateX(0);
    height: fit-content;

    .shepherd-info > * {
      margin-bottom: 1rem;
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .shepherds {
    height: 60vh;
  }

  .slide-show {
    .bishop-image-container {
      @include flexColumn;
      justify-content: center;
      height: 30rem;

      .photo {
        width: 30rem;
        height: 29rem;
        object-fit: contain;
      }
    }
  }
}
