@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.shepherds {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;

  // Slide arrows
  .arrow {
    border: 2px solid #ee7042;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &:hover {
      background: #fff;
    }
  }

  .next {
    right: 1.5rem;
    color: #2c22f3;
  }
  .prev {
    left: 1.5rem;
    color: #2c22f3;
  }

  // Slide show
  .slide-show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    background-color: $section-bg;
  }

  // Current slide show

  .current-slide {
    opacity: 1;
    transform: translateX(0);

    .shepherd-info > * {
      margin-bottom: 1rem;
    }
  }

  .current-slide .shepherd-info {
    opacity: 1;
  }

  .shepherd-info {
    position: absolute;
    right: -15%;
    top: 50%;
    opacity: 0;
    width: 40%;
    padding: 3rem;
    transform: translate(-50%, -50%);
    background: #f0f8ff;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.3rem;
    animation: slide-to-right 2s ease 1s;
    h2 {
      font-size: $afs;
    }
    .link {
      cursor: pointer;
      .anchor {
        cursor: pointer;
      }
    }
  }

  .shepherd-info .span1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0%;
    width: 25%;
    height: 2px;
    background: #ff00ff;
    animation: span1 3s linear infinite;
  }

  .shepherd-info .span2::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 25%;
    height: 2px;
    background: #ff00ff;
    animation: span2 3s linear infinite;
  }
  .shepherd-info .span3::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2px;
    height: 25%;
    background: #ff00ff;
    animation: span3 3s linear infinite;
  }
  .shepherd-info .span4::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 2px;
    height: 25%;
    background: #ff00ff;
    animation: span4 3s linear infinite;
  }
}

// Animation for span1
@keyframes span1 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

// Animation for span2
@keyframes span2 {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

// Animation for span3
@keyframes span3 {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

// Animation for span4
@keyframes span4 {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

// Animation slide up

@keyframes slide-to-right {
  0% {
    visibility: visible;
    right: 0;
    background-color: #f5f3f4;
  }

  100% {
    visibility: visible;
    top: 50%;
    background-color: #cae9ff;
  }
}

// Laptop screen size

@media screen and (min-width: 600px) {
  .slide-show {
    .bishop-image-container {
      height: 30rem;
      .photo {
        width: 50%;
        height: fit-content;
        object-fit: contain;
      }
    }
  }
}

// Mobile Screen size

@media screen and (max-width: 600px) {
  .shepherd-info {
    width: 80%;
  }
}
