@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.user-change-password-container {
  width: 50%;
  margin: 1rem auto;
  @include shadow2;
  background-color: $form-bg;
  padding: 1rem 2rem;

  .user-change-password-title {
    @include subTitle;
  }

  .user-change-password-form {
    @include flexColumn;

    .input-container {
      @include inputContainer;
      .icon {
        @include inputIcon;
      }

      .input-field {
        @include inputField;
      }

      .input-label {
        @include inputLabel;
      }

      .input-highlight {
        @include inputHighlight;
      }

      .password-display {
        @include passwordDisplay;
        font-size: $nfs;
      }

      .input-field:focus + .input-label {
        top: -0.4rem;
        font-size: $sfs;
        color: $gray;
      }

      .input-field:focus + .input-label + .input-highlight {
        width: 100%;
      }
    }

    .reset-password-wrapper {
      margin: 1rem 0;

      .user-change-password-btn {
        @include button3;
      }
    }
  }
}

/* Up to 480px (very small mobile screens) */
@media (max-width: 480px) {
  .user-change-password-container {
    width: $mobile;
    padding: 1rem;

    .user-change-password-title {
      font-size: $afs;
    }
  }
}

/* Between 481px and 768px (common for most mobile devices) */
@media (min-width: 481px) and (max-width: 768px) {
  .user-change-password-container {
    width: $mobile;

    .user-change-password-title {
      font-size: $afs;
    }
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  .user-change-password-container {
    width: $desktop;

    .user-change-password-title {
      font-size: $afs;
    }
  }
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
}
