@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.subscribers-notification-wrapper {
  width: $mobile;
  margin: 2rem auto;
  background-color: $form-bg;
  padding: 1rem 2rem;

  .subscribers-notification-title {
    @include subTitle;
  }

  .subscribers-notification-form {
    @include flexColumn;

    .input-container {
      position: relative;
      @include flexColumn;

      .subject {
        font-size: $nfs;
      }

      .icon {
        position: absolute;
        top: 2.7rem;
        left: 0.5rem;
        color: $green;
        font-size: $afs;
      }

      .input-field {
        @include inputField;
      }

      .input-error {
        @include formInputError;
      }
    }

    .subscriber-notification-btn {
      @include button3;
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .subscribers-notification-wrapper {
    width: $mobile;
    padding: 1rem;

    .subscribers-notification-title {
      margin: 1rem 0;
      font-size: 0.85rem;
    }

    .subscribers-notification-form {
      .input-container {
        .icon {
          position: absolute;
          top: 2.7rem;
          left: 0.5rem;
          font-size: $sfs;
        }

        .subject {
          font-size: $sfs;
        }

        .input-field {
          font-size: $sfs;
        }

        .input-error {
          font-size: $sfs;
        }
      }

      .subscriber-notification-btn {
        font-size: $sfs;
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .subscribers-notification-wrapper {
    width: $tablet;
    padding: 1rem;

    .subscribers-notification-title {
      margin: 1rem 0;
      font-size: $afs;
    }

    .subscribers-notification-form {
      .input-container {
        .icon {
          position: absolute;
          top: 2.7rem;
          left: 0.5rem;
          font-size: $nfs;
        }

        .subject {
          font-size: $nfs;
        }

        .input-field {
          font-size: $nfs;
        }

        .input-error {
          font-size: $nfs;
        }
      }

      .subscriber-notification-btn {
        font-size: $nfs;
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .subscribers-notification-wrapper {
    width: $tablet;
    padding: 1rem;
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .subscribers-notification-wrapper {
    width: $laptop;
    padding: 1rem;
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .subscribers-notification-wrapper {
    width: $desktop;
    padding: 1rem;
  }
}
