@import '../../../../styles/Variables.scss';
@import '../../../../styles/Mixins.scss';

.header-navbar {
  width: 100%;
  height: 3rem;
  @include flexSpaceBetween;
  background-color: $navbar-bg;
  padding: 0.5rem 2rem;

  // Logo
  .short-logo {
    font-family: 'Rubik Beastly', system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .logged-in-user {
    @include flexRow;
    align-items: center;

    .image {
      @include loggedInUserImage;
    }
    .user-name {}
  }

  // navigation bar
  .navbar-items {
    @include flexRow;

    .navbar-item {
      .active-navbar-item {
        @include activeNavbar;
      }

      .passive-navbar-item {
        @include passiveNavbar;
      }
    }
  }

  // Logged in user
  .logged-in-user-wrapper {
    @include flexRow;
    align-items: center;

    .logged-in-user-image {
      @include loggedInUserImage;
    }

    .logged-in-user-name {
      @include loggedInUserName;
    }
  }

  // register and login
  .register-login {
    @include flexRow;

    .link {
    }
  }
}
