@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $navbar-bg;
  padding: 0.5rem 1rem;

  // Logo
  .logo {
  }

  // navigation bar
  .navigation-items {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .item {
      .item-link {
      }
    }
  }

  // register and login
  .register-login {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .item {
      .item-link {
      }
    }
  }
}
