@import '../../../../styles/Variables.scss';
@import '../../../../styles/Mixins.scss';

.header-navbar {
  width: 100%;
  height: 3rem;
  @include flexSpaceBetween;
  background-color: $navbar-bg;
  padding: 0.5rem 2rem;

  // Logo
  .short-logo {
    font-family: 'Rubik Beastly', system-ui;
    font-weight: 400;
    font-style: normal;
  }

  // navigation bar
  .navbar-items {
    @include flexRow;

    .navbar-item {
      .active-navbar-item {
        @include activeNavbar;
      }

      .passive-navbar-item {
        @include passiveNavbar;
      }
    }
  }

  // register and login
  .register-login {
    @include flexRow;

    .link {
    }
  }
}
