@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.church-services-table-wrapper {
  width: $laptop;
  margin: 1rem auto;

  .church-services-table-title {
    @include subTitle;
    font-size: $afs;
    padding: 2rem 0;
  }
}

.service-delete-confirmation-modal {
  @include deleteConfirmationModal;

  .delete-confirmation-title {
    @include deleteConfirmationTitle;
  }

  .delete-confirmation-statement {
    @include deleteConfirmationStatement;
  }

  .confirmation-buttons-wrapper {
    @include buttonsWrapper;

    .confirm-delete-btn {
      @include buttonForDelete;
    }

    .cancel-delete-btn {
      @include buttonForCancel;
    }
  }
}

.action-wrapper {
  @include flexRow;
  align-items: center;

  .edit-icon {
    @include editIcon;
  }

  .delete-icon {
    @include deleteIcon;
  }
}
