@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.church-services-table-wrapper {
  width: $laptop;
  margin: 1rem auto;

  .church-services-table-title {
    @include subTitle;
    font-size: $afs;
    padding: 2rem 0;
  }
}