@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.church-services-table-wrapper {
  width: $mobile;
  margin: 1rem auto;

  .church-services-table-title {
    @include subTitle;
    font-size: $afs;
    padding: 2rem 0;
  }

  .service-delete-confirmation-modal {
    @include deleteConfirmationModal;

    .delete-confirmation-title {
      @include deleteConfirmationTitle;
    }

    .delete-confirmation-statement {
      @include deleteConfirmationStatement;
    }

    .confirmation-buttons-wrapper {
      @include buttonsWrapper;

      .confirm-delete-btn {
        @include buttonForDelete;
      }

      .cancel-delete-btn {
        @include buttonForCancel;
      }
    }
  }

  .action-wrapper {
    @include flexRow;
    align-items: center;

    .edit-icon {
      @include editIcon;
    }

    .delete-btn {
      border: none;
      .delete-icon {
        @include deleteIcon;
      }
    }
  }

  .MuiDataGrid-cell {
    display: flex;
    align-items: center;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .church-services-table-wrapper {
    width: $mobile;

    .church-services-table-title {
      font-size: $nfs;
    }

    .service-delete-confirmation-modal {
      @include mobileDeleteConfirmationModal;

      .delete-confirmation-title {
        font-size: $nfs;
      }

      .delete-confirmation-statement {
        font-size: $sfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $sfs;
        }

        .cancel-delete-btn {
          font-size: $sfs;
        }
      }
    }

    .action-wrapper {
      @include flexRow;
      align-items: center;

      .edit-icon {
        font-size: $nfs;
      }

      .delete-btn {
        .delete-icon {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .church-services-table-wrapper {
    width: $tablet;

    .church-services-table-title {
      font-size: $afs;
    }

    .service-delete-confirmation-modal {
      .delete-confirmation-title {
        font-size: $nfs;
      }

      .delete-confirmation-statement {
        font-size: $sfs;
      }

      .confirmation-buttons-wrapper {
        .confirm-delete-btn {
          font-size: $sfs;
        }

        .cancel-delete-btn {
          font-size: $sfs;
        }
      }
    }

    .action-wrapper {
      @include flexRow;
      align-items: center;

      .edit-icon {
        font-size: $nfs;
      }

      .delete-btn {
        .delete-icon {
          font-size: $nfs;
        }
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
