@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.user-page {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .user-container {
        padding: 1rem;
    }
}