@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.committee-card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  padding: 2rem 0;
  background-color: $white;

  .image-container {
    @include flexCenter;
    .image {
      width: 8rem;
      height: 12rem;
      object-fit: cover;
      border-radius: 0.3rem;
    }
  }

  .user-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 0 0.2rem;
    .user-name {
      font-size: 0.9rem;
    }

    .user-info {
      font-size: $sfs;

      .strong-element {
        display: block;
        color: $gray;
        font-size: $sfs;
      }
    }

    .update-committee-member-btn {
      @include editButton;
      position: absolute;
      top: 1rem;
      right: 0.2rem;
    }
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .committee-card-container {
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0.5rem;

    .image-container {
      .image {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
      }
    }

    .user-details {
      .user-name {
      }

      .user-info {
        .strong-element {
          font-size: $sfs;
        }
      }

      .update-committee-member-btn {
        position: absolute;
        top: 13rem;
        right: 0.2rem;
        font-size: $sfs;
      }
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .committee-card-container {
    margin-top: 2rem;

    .image-container {
      .image {
        width: 10rem;
        height: 12rem;
        object-fit: cover;
      }
    }

    .user-details {
      .user-name {
      }

      .user-info {
        .strong-element {
          font-size: $sfs;
        }
      }

      .update-committee-member-btn {
      }
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .committee-card-container {
    margin-bottom: 3rem;
    .image-container {
      .image {
        width: 11rem;
        height: 12rem;
        object-fit: cover;
      }
    }

    .user-details {
      .user-name {
      }

      .user-info {
        .strong-element {
          font-size: $sfs;
        }
      }

      .update-committee-member-btn {
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .committee-card-container {
    .image-container {
      .image {
      }
    }

    .user-details {
      .user-name {
      }

      .user-info {
        .strong-element {
          font-size: $sfs;
        }
      }

      .update-committee-member-btn {
      }
    }
  }
}

/* Ultra-High-Resolution Devices (2560px and above) */
@media (min-width: 1367px) {
  .committee-card-container {
    .image-container {
      .image {
      }
    }

    .user-details {
      .user-name {
      }

      .user-info {
        .strong-element {
          font-size: $sfs;
        }
      }

      .update-committee-member-btn {
      }
    }
  }
}
