@import "../../../../styles/Variables.scss";
@import "../../../../styles/Mixins.scss";

.admin-dashboard-header {
  @include flexSpaceBetween;
  padding: 0 2rem;
  background-color: $priest-header-bg;

  .admin-image-container {
    .image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .admin-dashboard-header-items {
    @include flexRow;
    gap: 2rem;

    .admin-dashboard-header-item {
      .active-admin-dashboard-header-icon {
        color: $red;
        font-size: $afs;
        cursor: pointer;
      }

      .passive-admin-dashboard-header-icon {
        color: $iconColor;
        font-size: $afs;
        cursor: pointer;

        &:hover {
          color: $red;
        }
      }
    }
  }
}
/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .admin-dashboard-header {
    display: none;
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 768px) {
  .admin-dashboard-header {
    display: none;
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 769px) and (max-width: 1023px) {
  .admin-dashboard-header {
    @include flexSpaceBetween;
    padding: 1rem;
    background-color: $priest-header-bg;

    .admin-image-container {
      display: none;
    }

    .admin-dashboard-header-items {
      .admin-dashboard-header-item {
        .active-admin-dashboard-header-icon {
          font-size: $afs;
        }

        .passive-admin-dashboard-header-icon {
          font-size: $afs;
        }
      }
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .admin-dashboard-header {
    @include flexSpaceBetween;
    padding: 1rem;
    background-color: $priest-header-bg;

    .admin-image-container {
      display: none;
    }

    .admin-dashboard-header-items {
      .admin-dashboard-header-item {
        .active-admin-dashboard-header-icon {
          font-size: $afs;
        }

        .passive-admin-dashboard-header-icon {
          font-size: $afs;
        }
      }
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
}
