@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.revenue-linechart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;

  .title {
    color: $soft-color;
  }

  .revenue-chart {
    width: 100%;
    height: 100%;
  }
}
