@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.piechart-container {
  .chart-title {
    padding: 1rem 2rem;
  }

  .contribution-groups {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .contribution-group {
      .group {
        display: flex;
        align-items: center;
        gap: 5px;

        .dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }
      }

      .value {
        padding-left: 1.3rem;
      }
    }
  }
}
