@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.update-user-profile-wrapper {
  width: $laptop;
  margin: 1rem auto;
  @include shadow1;
  background-color: $form-bg;

  .update-user-profile-title {
    @include subTitle;
    text-align: center;
  }

  .error-message {
    @include errorMessage;
  }

  .update_user-image-container {
    @include flexColumnCenter;
    .update-user-image {
      @include userImage;
    }

    .update-user-legend {
      @include legend;
    }
  }

  .update-user-profile-fieldset {
    @include fieldset;

    .update-user-profile-legend {
      @include legend;
    }

    .update-user-profile-form {
      @include flexColumn;
      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;
      }
      .input-container {
        @include inputContainer;

        .update-user-account-icon {
          @include inputIcon;
        }

        .input-field {
          @include inputField;
        }

        .input-label {
          @include inputLabel;
        }

        .input-highlight {
          @include inputHighlight;
        }

        .input-field:focus + .input-label {
          @include focusInputFieldAndInputLabel;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .password-display {
          @include passwordDisplay;
        }
      }

      .input-consent {
        @include inputContainer;
        @include flexRow;
        align-items: center;
        margin: 1rem 0.3rem;

        .consent-checkbox {
          height: 1rem;
          width: 1rem;
          cursor: pointer;
        }

        .accept {
        }

        .terms-of-user {
          color: $blue;
        }
      }

      .update-user-profile-btn {
        @include button3;
      }
    }
  }
}

/* Up to 480px (very small mobile screens) */
@media (max-width: 480px) {
  .update-user-profile-wrapper {
    width: $mobile;
    margin: auto;

    .update-user-profile-title {
      font-size: $nfs;
      text-align: center;
    }

    .update_user-image-container {
      .update-user-legend {
        font-size: $sfs;
      }
    }

    .update-user-profile-fieldset {
      width: 100%;
      padding: 0;

      .update-user-profile-form {
        .inputs-wrapper {
          @include flexColumn;

          .input-container {
            .update-user-account-icon {
              font-size: $sfs;
            }

            .input-field {
              font-size: $sfs;
            }

            .input-label {
              font-size: $sfs;
            }

            .input-highlight {
              font-size: $sfs;
            }

            .input-field:focus + .input-label {
              font-size: $sfs;
            }

            .input-field:focus + .input-label + .input-highlight {
              width: 100%;
            }

            .password-display {
              font-size: $sfs;
            }
          }
        }

        .input-consent {
          font-size: $sfs;
          margin: 1rem 0rem;
        }

        .update-user-profile-btn {
          font-size: $sfs;
        }
      }
    }
  }
}

/* Between 481px and 768px (common for most mobile devices) */
@media (min-width: 481px) and (max-width: 768px) {
  .update-user-profile-wrapper {
    width: $mobile;
    margin: auto;

    .update-user-profile-fieldset {
      padding: 0;
    }
  }
}

/* Between 769px and 1024px (ideal for tablets and small laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  .update-user-profile-wrapper {
    width: $mobile;
    margin: auto;

    .update-user-profile-fieldset {
      padding: 0;
    }
  }
}

/* Between 1025px and 1200px (standard desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* 1201px and up (large desktop and TV screens) */
@media (min-width: 1201px) {
}
