@import "../../../styles/Mixins.scss";
@import "../../../styles/Variables.scss";

.church-services-table-wrapper {
  width: $mobile;
  margin: 1rem auto;

  .church-services-title {
    @include subTitle;
  }

  .error-message {
    @include errorMessage;
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .church-services-table-wrapper {
    width: $mobile;

    .church-services-title {
      font-size: $nfs;
    }

    .error-message {
      font-size: $sfs;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .church-services-table-wrapper {
    width: $mobileLandscape;

    .church-services-title {
      font-size: $afs;
    }

    .error-message {
      font-size: $nfs;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .church-services-table-wrapper {
    width: $tablet;

    .church-services-title {
      font-size: $afs;
    }

    .error-message {
      font-size: $nfs;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .church-services-table-wrapper {
    width: $laptop;

    .church-services-title {
      font-size: $aafs;
    }

    .error-message {
      font-size: $nfs;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .church-services-table-wrapper {
    width: $desktop;

    .church-services-title {
      font-size: $lfs;
    }

    .error-message {
      font-size: $nfs;
    }
  }
}
