@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.finance-mgt-summary-view {
  width: $mobile;
  margin: 2rem auto;

  .finance-mgt-summary-view-title {
    @include title;
    margin-bottom: 2rem;
  }
  .members-contribution-pie-chart-container {
    position: relative;

    .members-contribution-pie-chart-title {
      @include subTitle;
      font-size: $afs;
    }

    .illustration {
      @include paragraph;

      .count-mark {
        color: $blue;
        margin-left: 0.3rem;
        background-color: $lightGray;
        padding: 0.1rem 0.5rem;
      }
    }

    .members-contribution-pie-chart-form {
      position: absolute;
      top: 0;
      right: 1rem;

      .input-field {
        @include inputWithButton;
      }

      .members-contribution-pie-chart-form-btn {
        @include buttonWithInput;
      }
    }

    .message-error {
      @include errorMessage;
    }
  }

  .legend-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Portrait Phones (max-width: 575px) */
@media (max-width: 575px) {
  .finance-mgt-summary-view {
    width: $mobile;
    .finance-mgt-summary-view-title {
      font-size: $nfs;
      text-align: center;
    }
    .members-contribution-pie-chart-container {
      position: relative;

      .members-contribution-pie-chart-title {
        font-size: $sfs;
        margin-top: 4rem;
      }

      .illustration {
        font-size: $sfs;

        .count-mark {
          font-size: $sfs;
        }
      }

      .members-contribution-pie-chart-form {
        @include flexRow;
        position: absolute;
        top: -3rem;
        left: 0;
        .input-field {
          font-size: $sfs;
        }

        .members-contribution-pie-chart-form-btn {
          font-size: $sfs;
        }
      }

      .message-error {
        font-size: $sfs;
      }
    }

    .recharts-legend-wrapper {
      display: none;
    }
  }
}

/* Landscape Phones (576px - 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .finance-mgt-summary-view {
    width: $mobileLandscape;
    .finance-mgt-summary-view-title {
      font-size: $afs;
      text-align: center;
    }
    .members-contribution-pie-chart-container {
      position: relative;

      .members-contribution-pie-chart-title {
        font-size: $nfs;
        margin-top: 4rem;
      }

      .illustration {
        font-size: $nfs;

        .count-mark {
          font-size: $nfs;
        }
      }

      .members-contribution-pie-chart-form {
        @include flexRow;
        position: absolute;
        top: -3rem;
        left: 0;
        .input-field {
          font-size: $nfs;
        }

        .members-contribution-pie-chart-form-btn {
          font-size: $nfs;
        }
      }

      .message-error {
        font-size: $nfs;
      }
    }

    .recharts-legend-wrapper {
      display: none;
    }
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .finance-mgt-summary-view {
    width: $tablet;
    .finance-mgt-summary-view-title {
      font-size: $afs;
      text-align: center;
    }
    .members-contribution-pie-chart-container {
      position: relative;

      .members-contribution-pie-chart-title {
        font-size: $nfs;
        margin-top: 4rem;
      }

      .illustration {
        font-size: $nfs;

        .count-mark {
          font-size: $nfs;
        }
      }

      .members-contribution-pie-chart-form {
        @include flexRow;
        position: absolute;
        top: -3rem;
        left: 0;
        .input-field {
          font-size: $nfs;
        }

        .members-contribution-pie-chart-form-btn {
          font-size: $nfs;
        }
      }

      .message-error {
        font-size: $nfs;
      }
    }

    .recharts-legend-wrapper {
      display: none;
    }
  }
}

/*  Laptops, iPad Pro, and Small Desktops (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .finance-mgt-summary-view {
    width: $laptop;
    .finance-mgt-summary-view-title {
      font-size: $lfs;
      text-align: center;
    }
  }
}

/* Ultra-High-Resolution Devices (1367px and above) */
@media (min-width: 1367px) {
  .finance-mgt-summary-view {
    width: $desktop;
    .finance-mgt-summary-view-title {
      font-size: $lfs;
      text-align: center;
    }
  }
}
